[2016-10-31 19:00] lomky commented on #315
@justgo129 You can already create the identifier as the PMID when creating an article.

[2016-10-31 19:02] lomky commented on #330
@amruelama @justgo129 I am happy to create a convention going forward for this, but see no value in adjusting our internal identifier for entries that are named differently.

[2016-10-31 19:06] lomky commented on #333
#468 is going over the organization types as a whole and will make the judgement call on this.

[2016-10-31 19:06] #333 closed

[2016-10-31 19:08] lomky commented on #334
Worth considering as a convention going forward, but changing our major report identifiers would be very bad.

[2016-10-31 19:08] #334 closed

[2016-10-31 19:19] rewolfe commented on #298
Be careful because some reports (NCA, CCHHA) rely on the middle name being part (or not part) of the displayed name.  This is a "hidden" feature.  If the middle initial is part of the first name, it is displayed, otherwise not.

[2016-11-01 16:41] Zullmira commented on #461
There are totally 7 Springer items on the website after the QA. And all the books were attributed to the correct Springer items.

[2016-11-02 13:23] lomky commented on #464
@bakamine do we have an email address this should go to? It should be an email address we don't mind getting out to the general world. In my head it should go to myself & Amrutha definitely, and maybe Reid & yourself?

[2016-11-02 14:09] lomky commented on #464
@amruelama What are your thoughts on the list of dropdown issues? Here's my current list:

 - Broken Link
 - Technical Issue
 - Incorrect Data
 - Suggestion
 - Other

[2016-11-02 14:47] amruelama commented on #464
Can we add 'question'? @lomky. Because currently any questions about GCIS is sent to USGCRP email and they redirect it to me.

[2016-11-02 14:52] bakamine commented on #464
It will be a topic list and then a free text for whatever question or
feedback they might have.

On Wed, Nov 2, 2016 at 10:47 AM, Amrutha Elamparuthy <
notifications@github.com> wrote:

--
Bradley Akamine
Chief Digital Officer
U.S. Global Change Research Program
National Coordination Office
Contractor
Office: (202) 419-3479
Mobile: (202) 812-0428

[2016-11-02 14:56] bakamine commented on #464
We have a long-abandoned gcis@usgcrp.gov group. I'll make you, Reid, and
Amrutha the members.

On Wed, Nov 2, 2016 at 9:23 AM, Kathryn Tipton <notifications@github.com>
wrote:

--
Bradley Akamine
Chief Digital Officer
U.S. Global Change Research Program
National Coordination Office
Contractor
Office: (202) 419-3479
Mobile: (202) 812-0428

[2016-11-02 15:16] lomky commented on #464
@bakamine sounds good.

@amruelama here is a [very rough] mockup.
![screenshot from 2016-11-02 11-13-49](https://cloud.githubusercontent.com/assets/6129479/19934578/758b8f9e-a0ed-11e6-9fe7-9c8ce877c678.png)

And the dropdown:
![screenshot from 2016-11-02 11-14-55](https://cloud.githubusercontent.com/assets/6129479/19934664/d6c211ca-a0ed-11e6-8463-66100ac2b17d.png)

[2016-11-02 15:30] amruelama commented on #461
After QA, there are currently 4 Springer organizations in our database - Germany (HQ), Netherlands, U.S. and Vienna. All the duplicates were merged into the appropriate organization.

[2016-11-02 15:30] #461 closed

[2016-11-02 19:22] amruelama commented on #462
There are currently 825 organizations in GCIS with countries listed, that do not speak English as native language. These organizations need QA to add aliases @Zullmira

[2016-11-03 14:27] amruelama commented on #462
@lomky Are there any specification for aliases? For example, can we use special characters or a different language script?

[2016-11-03 15:09] lomky commented on #462
@amruelama We are a [UTF-8](https://en.wikipedia.org/wiki/UTF-8) application, both at the code level and database level.  As best I understand it, we can support every language defined by the Unicode standards. [Here is a sampler page with examples of UTF-8 character support](http://kermitproject.org/utf8.html)

[2016-11-03 15:27] amruelama commented on #462
This is cool! There are many Japanese organizations in our database with aliases in Japanese script. I'm glad that I don't have to transliterate Japanese now.

[2016-11-03 18:03] lomky commented on #462
If we could indicate what language the alias is in, that would be very helpful down the line for semantic needs.

[2016-11-03 18:08] amruelama commented on #462
These are options we have:

1. **ISO 639-1**: two-letter codes, one per language for ISO 639 macro language
2. **ISO 639-2/T**: three-letter codes, for the same languages as 639-1
3. **ISO 639-2/B**: three-letter codes, mostly the same as 639-2/T, but with some codes derived from English names rather than native names of languages (in the following table, these differing codes are highlighted in b

[2016-11-03 18:19] lomky commented on #462
@amruelama It looks like ISO 639-2 is the one we want. [The Library of Congress remarks that it was developed for bibliographic purposes](https://www.loc.gov/standards/iso639-2/faq.html#1), which we fall under pretty nicely. In hte rare case the language isn't in 2, we can use `mis` as indicated by the [standard's special cases](https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes).

I favor the

[2016-11-03 18:25] amruelama commented on #462
@lomky Makes sense.
@Zullmira We can add [**ISO 639-2**](https://en.wikipedia.org/wiki/List_of_ISO_639-2_codes) codes for all the aliases we are adding to the organizations - see new column.

[2016-11-03 18:28] lomky commented on #462
@amruelama Sorry, it looks like I was mistaken for the purposes of our semantic usage.

The [DublinCore](http://www.dublincore.org/documents/dc-xml-guidelines/) insists on the [RFC-3066 standard](http://www.ietf.org/rfc/rfc3066.txt):

[2016-11-03 18:42] amruelama commented on #462
So we use 2 letter code (639-1); 3 letters (639-2T) if no 2 letter code exits, correct?

[2016-11-03 19:52] Zullmira commented on #462
I just checked out the wiki for the ISO 639-1/2 codes. So I will reference the wiki list for inputting the language codes in their column. Correct? @amruelama

[2016-11-08 14:35] lomky commented on #453
@amruelama Justin and I talked and this is indeed an incorrect reference setup. Things should not reference themselves.

[2016-11-08 14:54] amruelama commented on #453
I see. Can we delete their relationship on stage or is it easier for you to do it through script?
@lomky.
 I will add a 'convention' label to this ticket to make sure we don't repeat this in future.

[2016-11-08 16:58] lomky commented on #453
@amruelama can you delete references on stage? if so that's the best way to go about it.

Specially, these `publication_reference_map` entries should be deleted:
- [ ] `identifier: bbc3c75e-6c21-4e60-8285-514cde885865` (Record 2, above)
- [ ] `identifier: a59618e0-31ae-4e06-ac15-805a09bb737e` (Record 3, above)
- [ ] `identifier: dd5b893d-4462-4bb3-9205-67b532919566` (Record 4, above)

The remainin

[2016-11-08 17:04] amruelama commented on #453
@lomky Perfect, thank you for the list of changes. I will edit this on stage first thing tomorrow.

[2016-11-09 19:32] amruelama commented on #453
The first three changes are done on stage.
@lomky  We already have the webpage here - https://data.globalchange.gov/webpage/bluewing-21 with an updated URL.
The figure in NCA3 - [Blue Wing Solar ](https://data.globalchange.gov/report/nca3/chapter/water-energy-land-use/figure/renewable-energy-and-land-use) existed in a [URL](http://ewiqa.duke-energy.com/commercial-renewables/blue-%20wing-solar.asp)

[2016-11-10 16:08] lomky commented on #397
This may exist, will be informed by #463

[2016-11-10 16:13] #353 closed

[2016-11-10 16:23] lomky commented on #413
The path forward for this, in my mind, is to update the display of the Journal pages to have an footnote marker (*, †, etc). Does this distinction need to be made for any format other than web/html?

[2016-11-10 20:22] lomky opened #471 "Support Creation of Alternate Names for Organization"
In support of #462

 - [x] Create a data table to store organization aliases with multi-language support

Something like:

[code]

 - [x] Update org creation to support adding organization aliases.

[2016-11-10 20:26] lomky opened #472 "Support Organization Alternate Names in Autocomplete & Organization Search"
Followup to #462 and #471

 - [x] Searching for the organization's alternate name brings up the correct organization (or list of possible orgs, as appropriate)
 - [x] Autocomplete will offer the alternative name if it matches
       - clicking that option will properly direct to the correct organization

[2016-11-10 20:29] lomky opened #473 "Display Organization Alternate Name in Various Formats"
Followup to #462 and #471.

 - Organization should offer up it's alternative names in the formats:
   - [x] HTML display should show the alternative names
         - deprecated names should show up distinctly
   - [x] JSON should return the organization alternate names
   - [ ] Turtle should properly relate the alternative names

[2016-11-10 20:55] lomky commented on #464
Advice from Bradley: look at how the globalchange.gov form ins implemented. May just be able to drop one in.

[2016-11-10 20:58] bakamine commented on #464
Globalchange.gov is Drupal, so that isn't going to be much help. I did,
however, find this: http://bootsnipp.com/forms

On Thu, Nov 10, 2016 at 3:55 PM, Kathryn Tipton <notifications@github.com>
wrote:

--
Bradley Akamine
Chief Digital Officer
U.S. Global Change Research Program
National Coordination Office
Contractor
Office: (202) 419-3479
Mobile: (202) 812-0428

[2016-11-10 21:24] amruelama commented on #462
Apparently 100+ organizations' aliases have already been added in the **identifier** and **name** fields. We need to move these names to 'Aliases (alternate field)' and add their English names in identifier and Org_name.

[2016-11-10 21:28] lomky commented on #464
@bakamine That's awesome! Thanks.

[2016-11-11 19:11] lomky commented on #315
Discussion with @justgo129

We are mostly concerned storing the PubMed ID somewhere, similar to how we can store the DOI separately from the identifier. Maybe through a separate table (1-to-many) supporting various other identifiers or by on-demand query to the PubMed ID.

[2016-11-11 19:16] lomky commented on #314
Discussion with @justgo129

Journal of Soil and Water Conservation, for example, didn't backfill their articles with DOIs. The decision may be to just allow articles with neither PubMed nor DOI to just have a GCIS identifier.

[Example articles](https://data.globalchange.gov/article?page=168)

Worth doing a QA pas to fill in any that Do have PubMed or DOI, and then work with @amruelama to decide t

[2016-11-11 19:20] lomky commented on #314
Corollary: May be worth running a QA on the articles of various identifiers.

[2016-11-11 19:32] lomky commented on #312
The basic definitions are:

Center of - An organization within a college

Unit of - For example, a National Park Service Unit

[2016-11-11 19:41] lomky commented on #469
Discussion with @justgo129

[W3C Geospatial Ontologies](https://www.w3.org/2005/Incubator/geo/XGR-geo-ont-20071023/)
[GeoNames](http://www.geonames.org/)
[Places Ontology](http://lov.okfn.org/dataset/lov/vocabs/place)

[2016-11-14 19:21] amruelama opened #474 "Add 'edit' or 'update' button for all resources"
Currently the only way to edit _**provenance, relationship, contributors and files**_ is to delete and re-add the content, even if we have to do minor changes/corrections. It would be great if we have an 'update' feature that lets us edit only the required content.

For example, in the screenshot below, if I have to edit the activity or note of the figure, I need to delete the entire pub relations

[2016-11-14 21:39] amruelama opened #475 "Align the contributors in display table based on type of publication"
Ensure adding contributor (organization, role-publisher) to a journal and adding relationship (pub-article, role-publisher) to the organization should display in the same table and same group in the display.

Currently the contents that are added in the same sequence only display under the same pub type. If we add in a different sequence, say,  a journal, a book, a journal, all the journals won't

[2016-11-14 21:50] amruelama commented on #474
- [ ] Also, publications that cites or cites to any publication(s) through 'reference' do not have 'delete' option currently. We may have to think about the criteria to why or why not delete any pubs associated to a reference. See example below - there is no delete button.

![screen shot 2016-11-14 at 4 48 55 pm](https://cloud.githubusercontent.com/assets/18075324/20284233/4846a22a-aa8a-11e6-9951-

[2016-11-15 14:35] lomky commented on #471
The second half of this is more in-depth than expected. Going to push the initial table support out so we can populate it and continue for the editing.

[2016-11-15 14:40] abuddenb opened #476 "Error building GCIS under Perl 5.22+"
[code]

Possibly related to using Perl 5.24. See [this issue](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=825012).

[2016-11-15 15:03] #317 closed

[2016-11-15 15:03] #349 closed

[2016-11-15 15:05] lomky commented on #455
We are now on this version for 1.46.0 today (2016-11-15)

[2016-11-15 15:05] #455 closed

[2016-11-15 15:07] amruelama commented on #468
Content QA is not done yet @lomky

[2016-11-15 15:26] lomky commented on #468
We discussed this offline, but to sum up:

 - the 61 `international` type orgs are recorded for change at a later date
 - stage has been updated to reassign those to type blank (empty string)
 - @amruelama will do a content push tomorrow
 - @lomky will do the code push either Wed PM or Thursday

[2016-11-15 15:35] amruelama commented on #468
@Zullmira and I will research to update the 61 organizations' organization type and populate them on stage and push to prod next week. Tomorrow's push is only for replacing the 'international' type to blanks.

[2016-11-15 17:34] lomky commented on #476
@abuddenb are we running on perl 5.24? I was under the impression we were developed for 5.20 with back support for 5.16.

Can you give me a bit more system context for where you are building GCIS so I can recreate?

[2016-11-15 17:58] lomky opened #477 "Document the Tuba Start Up Process"
Research for #471 has led me down this path. I should make sure I document it in the wiki for future reference.

[2016-11-17 21:51] amruelama commented on #468
Replaced all the 61 organizations' types with relevant types.

[2016-11-17 21:51] #468 closed

[2016-11-17 22:11] amruelama commented on #462
Populated the aliases and the new additions will go to prod after next code release

[2016-11-21 19:21] lomky commented on #456
For future reports, we need to consider:

 - [ ] Confidence intervals
 - [ ] How those Confidence Internals were developed

which were not included in NCA3

[2016-11-21 19:22] lomky commented on #406
Kat ToDo: Create a ticket for the work of creating a first draft of the script to analyze GCIS from a top-down methodology.

[2016-11-21 19:54] amruelama commented on #300
I will QA other resources as well to check if they have this bug.

[2016-11-21 21:07] amruelama opened #479 "Relating old and new URLs"
This figure in NCA3 - [Blue Wing Solar ](https://data.globalchange.gov/report/nca3/chapter/water-energy-land-use/figure/renewable-energy-and-land-use) existed in a [URL](http://ewiqa.duke-energy.com/commercial-renewables/blue-%20wing-solar.asp) that doesn't work anymore. So, I have changed the related webpage to [flickr ](https://data.globalchange.gov/webpage/bluewing-21) URL (archive where 'Duke

[2016-11-21 21:11] amruelama commented on #453
Closing this issue because all the above listed NCA3 self references have been removed

[2016-11-21 21:11] #453 closed

[2016-11-22 15:48] amruelama opened #480 "Add new field 'Pages' to Chapter"
We have added chapters to only few reports in GCIS based on priority. And some of the reports have chapters added but only name and numbers populated in the chapter metadata with front page thumbnail added as a file - See [Chapters in Our Changing Planet](https://data.globalchange.gov/report/usgcrp-ocpfy2016/chapter). Adding page numbers would make it convenient to search and view the chapters in

[2016-11-22 16:06] amruelama commented on #384
Closing this issue because the chapter name, DOIs are already available in the relationship (Report, Chapter etc.,) and need not to be added to the reference. If there is a specific reason to do that, we can re-open this issue.

[2016-11-22 16:06] #384 closed

[2016-11-23 19:54] amruelama commented on #460
Looks like lexicon 'cmip3' doesn't have hyperlink, but 'esg' does.
**Example** - https://data.globalchange.gov/model/cgcm31_t47 - You can notice that cmip3 has hyperlink to URL that doesn't work anymore. Can we remove all the hyperlinks for lexicon- esg? @lomky https://data.globalchange.gov/lexicon/esg

[2016-11-24 00:39] lomky commented on #460
@amruelama yes, but the lexicon doesn't do much for us if we can't trace it to somewhere. Has the lexicon been pulled offline completely?

[2016-11-28 19:05] amruelama opened #481 "Add relationship and provenance for OCP 2017"
The latest OCP can be found [here.](https://data-stage.globalchange.gov/report/usgcrp-ocpfy2017)
Things need to the added
- [x] Chapters
- [x] Figures
- [x] Images
- [x] Tables
- [x] References

[2016-11-28 20:58] lomky commented on #389
Our Autocomplete handles special characters without issue.

![screen shot 2016-11-28 at 3 57 27 pm](https://cloud.githubusercontent.com/assets/6129479/20685693/6cedef08-b583-11e6-9ba5-5e0820690f7e.png)

[2016-11-28 20:58] #389 closed

[2016-11-29 15:28] lomky commented on #476
Spoke with Andrew, this is something we'll have to address prior to porting to Perl 5.22+, but until then is not an issue.

[2016-11-29 16:50] amruelama opened #482 "Unique Key Error while Merging Organizations with Shared Contributor"
[university-queensland-australia-global-change-institute](https://data-dev.globalchange.gov/organization/university-queensland-australia-global-change-institute)
and
 [university-queensland-global-change-institute](https://data-dev.globalchange.gov/organization/university-queensland-global-change-institute)
are same institutions of University of Queensland. So while I tried to merge these organiza

[2016-11-29 18:38] lomky commented on #482
Go ahead with fixing the Publications & Contributors with the workaround for now. I can reference the current state in dev to replicate the bug.

[2016-11-29 18:51] lomky commented on #482
Discussion with @amruelama: it is unclear if this problem is due to the Organizations have the same Contributor, or if it is connected to having the same Contributor but through different Publications. (Both are true in the same case).

[2016-11-29 22:16] Zullmira commented on #481
The References are added.

[2016-12-01 20:59] rsindlin commented on #410
Paging interface is in Gist: https://gist.github.com/rsindlin/83b2079e7785aa70feb537f2cca9aee8

[2016-12-13 16:05] amruelama commented on #474
This is another example where I wanted to add organizations for previously added authors (only). If I have to add the organization, I need to delete the authors and add them again with organizations. This needs to be editable.

![screen shot 2016-12-13 at 11 04 42 am](https://cloud.githubusercontent.com/assets/18075324/21147732/ff859edc-c123-11e6-8068-bf87256956b6.png)

[2016-12-13 17:11] lomky commented on #467
Current Progress viewable [here](https://docs.google.com/a/usgcrp.gov/spreadsheets/d/1UfZeyu0_1mcdVexd3HnrufZ-XUdddD9oxeRPf0mARfU/edit?usp=sharing)

Major issues encountered:
 - Contributor gives back different responses depending on whether a person is associated with it or not.
 - Lexicon appears to be able to give back every other API structure in the system, ish

[2016-12-13 21:57] amruelama commented on #481
All the authors for the referenced articles are added.

[2016-12-13 21:57] #481 closed

[2016-12-14 20:01] #326 closed

[2016-12-15 19:44] amruelama commented on #475
This issue doesn't seem to exist anymore. If I find another alignment issue I'll re-open the issue.

[2016-12-15 19:44] #475 closed

[2016-12-20 16:19] lomky commented on #471
Proceeding nicely, breaking this into two steps for the data load in:

 1) Organizations `name`d in English with foreign `alternate_name`s will be loaded in now.
    - Organizations `name`d in another language (not our convention) will be left alone.
 2) Organizations with `name` in a foreign language will be rchanged their english `name` (easy)
    - their current name will be moved to an `altern

[2016-12-21 17:18] amruelama commented on #471
@lomky I don't think there will be a problem if we retain the same identifiers (foreign language) considering the extra efforts we need to put in creating new english identifiers. Our goal is just to have the aliases listed to increase accessibility.

[2017-01-04 17:30] amruelama opened #483 "GCIS automated tools requirements"
Currently GCIS is highly focussed on adding the first level of information, but while focussing on completeness of other levels of metadata, GCIS requires automated tools to add data in different levels. This includes adding metadata for the relationship and provenance of the first level data.
I am listing out the required tools to start with:

 - [ ] Add organization(s) to author by matching keyw

[2017-01-05 18:12] abuddenb opened #484 "Alphanumeric figure, finding, table ordinals"
/report/noaa-led-state-summaries-2017 contains a large number of figures with alphanumeric ordinals (eg. 1, 2, 3, 4a, 4b, 4c, 4d, 5, 6, 7)

Can we alter validation on Figure's ordinal field to accept alphanumerics (eg "4a").

[2017-01-06 17:02] bakamine commented on #466
We should include a statement, maybe in the about page, on how often the system content is updated.

[2017-01-09 14:54] lomky commented on #471
Last code changes completed. Will go out with the next release.

Still to do, on followup tickets:
 - [ ] Load in the alternate organization names on stage
   - must be AFTER the code push!
 - [ ] Rename organizations that currently have a foreign name listed as their primary
   - slightly differing from the above plan.
   - no changes to their alternate names required.
   - identifiers will be le

[2017-01-09 14:59] lomky commented on #472
The search component happened automatically, and I addressed the display in #471

[2017-01-09 15:02] lomky commented on #462
Reopening to serve for my actual load into the table.

[2017-01-09 15:06] lomky commented on #472
Autocomplete not currently functional. Much lower priority as that is only a feature used for internal purposes, and we can use the main name.

[2017-01-09 15:28] lomky opened #485 "First-Draft GCIS Eval Top-Down Script"
Creating a first draft of the script to analyze GCIS from a top-down methodology.

See #406

[2017-01-09 16:46] lomky commented on #484
@abuddenb we can and will.

Currently the `Figure` `Ordinal` is defined as [type]() `integer`. I will change it to `character varying` and update the comment to explain the expected data.

[2017-01-09 19:12] lomky commented on #300
I think it is time to close this ticket and create follow ons for the specific tasks. Tagging myself @lomky

[2017-01-09 21:18] lomky opened #486 "Create a Report Citation Summary tool for a report"
Following the work done with the #485 and the evaluation section 2:

Given a report that has just completed, run this script to create a report with all the datasets, references, etc used to create the report that can be distributed to agency PoCs for distribution & acknowledgements.

@rasherman please feel free to add clarification.

[2017-01-09 21:29] lomky commented on #484
## Task List

   - [ ]  update the DB entry (patch)
   - [ ]  update Figure Control show function to accept alphanumeric
   - [ ]  confirm new figure ordinals will sort properly
   - [ ]  investigate figure manager will handle dbgrep properly
   - [ ]  decide if Table & Finding `ordinal` should also be updated
     - [ ]  update them if needed, following path of Figure
   - [ ]  extend Figure and

[2017-01-11 16:25] lomky commented on #484
Splitting off the sorting issue into a lower priority follow on ticket. For now sorting will function as Finding does today (lexicographically: 1, 10, 2, 20, 2b, 2c-1). End goal is sorting alphabetically/numerically (1, 2, 2b, 2c-1, 10, 20)

[2017-01-12 14:47] lomky opened #487 "Figure/Finding/Table should sort properly"
Figure & Table sort improperly based on assumptions about their chapter number & ordinals. Finding sorts based on identifier.  All sort Lexicographically (1, 10, 2, 20)

All of these should sort properly (1, 2, 10, 20). It would be preferable if they sorted according to their chapter number followed up their ordinal.

Adding a sort key to these tables is the likely way forward.

This is a followup

[2017-01-18 18:13] lomky opened #488 "gcisops should own all DB tables"
Ownership on the DB tables still has bduggan listed. Convert this to gcisops.

This will make the public content releases smoother.

[2017-01-19 13:38] lomky opened #489 "Duplicate References Check & Removal"
The example that @abuddenb found: [Climate Change Indicators in the United States, 2014, Third Edition](https://data.globalchange.gov/search?q=Climate+Change+Indicators+in+the+United+States%2C+2014%2C+Third+Edition&type=reference&format=detailed) has eight references that need to be collapsed.

We should search for and deduplicate references.

First pass - Identical attrs. I will search via script

[2017-01-19 15:22] lomky opened #490 "References should have Reasonable Uniqueness"
At the moment references have no unique requirements, since their defining information is stored in unexamined hstore.

Come up with and enforce a reasonable uniqueness on hstores.

[Info on how to do this with hstores](http://stackoverflow.com/questions/15262132/unique-index-or-constraint-on-hstore-key)

Keys worth considering for uniqueness: DOI, Title+Year, others?

[2017-01-19 16:27] lomky opened #491 "Consolidate and Improve Organization Merge Methods"
Currently we have two merge functions.

**Method 1**: If you enter an identifier into the "replacement" field on any resource and then hit delete, it will try to "merge" the items together. I am not certain this interface works properly for anything other than `Author`s.

**Method 2**, `Organization`s have a much more user-friendly merge functionality that I posted a screenshot of above. It has a

[2017-01-19 16:28] #300 closed

[2017-01-19 17:02] #471 closed

[2017-01-19 17:03] #484 closed

[2017-01-23 19:12] lomky opened #492 "Document Tuba's Running Process"
Following form where #477 documentation leaves off (process up and running), document what the running state looks like.

[2017-01-23 19:20] lomky opened #493 "Document Tuba's Shutdown Process"
Following from where #492 and #477 documentation leaves off (process up, process running), document what the shutdown process looks like.

[2017-01-26 14:24] lomky opened #494 "GCIS Search Shows All Searchable Resources"
On the page [Advanced Search](https://data-stage.globalchange.gov/search) we offer a dropdown of resource types, but it is incomplete.

Behind the scenes, every resource type works properly, we just need to inform the UI of the options.

[2017-01-26 14:28] lomky opened #495 "Resource Pages 'Search' Should Act Like a Seach"
The [Search box on the resource landing pages](https://data.globalchange.gov/article) is misleading, it doesn't filter the page to match, it just does autocomplete and lets you pick one of those offered results. It would be better if it actually reloaded the page with matching results only.

On the backend, this can reuse the [advanced search](https://data.globalchange.gov/search) functionality wi

[2017-02-03 19:50] lomky opened #496 "Indicators Page"
Currently our best way to find the Indicators is by going to Advanced Search and looking up "Indicator:". This is lackluster.

 - [x] Create a listing page for Indicators in GCIS.

Optional:

 - [x] Toggle for publication year
 - [x] Toggle for only the most-current
 - [x] Add to the menu

[2017-02-07 11:03] amruelama opened #497 "Merge duplicate datasets"
- [x] Determine a criteria to QA duplicate datasets
- [x] Create a list of duplicate datasets
- [x] Make sure we don't lose any data, provenance and relationship while merging those datasets

Example:
1. https://data.globalchange.gov/dataset/noaa-ncdc-cag-us-temperature-nclimdiv
2. https://data.globalchange.gov/dataset/noaa-ncdc-c00005

[2017-02-07 19:41] abuddenb opened #498 "Origination fields in GCIS"
In the metadata surveys, we capture a family of fields descended from "Origination" with values 'Directly Cited', 'Adapted', 'Redrawn', and 'Original for Report'.

For instance, if a figure is "Redrawn" the next two questions are a free-form "How?" and then a citation.

We want to display the origination field and the responses to questions that follow from the selection through Angel's javascript

[2017-02-08 16:16] amruelama commented on #498
@abuddenb Currently in GCIS, if a figure is redrawn, we add both figures, then add their methodology of how one was derived from another as an 'activity' and add their provenance. Figure source is written in the field 'caption' whereas citation can be added in the field 'source citation' of a 'figure' directly. If the citation is related to the activity of the relationship between the figures, the

[2017-02-09 18:51] lomky opened #499 "Add the Updated Strategic Plan to GCIS"
Ticket for getting the newest USGCRP Strategic Plan into GCIS.

@amruelama I believe this is a fully content based ticket, btu let me know if there are any technical needs.

[2017-02-09 18:54] lomky opened #500 "2017 CSSR Test: Dry run Endnote -> References -> Publications -> Contributors"
This ticket covers

 - the process of getting the CSSR References from the endnote file through to loaded into GCIS's testing area.
 - testing out creation of child publications
 - testing out creation of contributors

[2017-02-09 18:56] lomky opened #501 "2017 CSSR Real: Create References & Child Publications"
Once we are ready to move forward on CSSR 2017 Real Ingest:

Automated Process:
 - [x] Creating the CSSR References
 - [x] Creating the Publications in the CSSR References
 - [x] Linking the publications to their References
 - [x] Creating the Resources ( Articles, reports, Web Pages) under the publication.
 - [x] Asserting the publications are linked to their resource

Manual Process:
 - [x] Crea

[2017-02-09 19:06] lomky opened #502 "2017 CSSR Real: Populate Contributors"
Following on from #500 & #501, this ticket covers the following in relation to the CSSR References

 - [x] Create the Persons
 - [x] Create the Organizations
 - [x] Create the Contributor link between Person, Organization, and Publication.

[2017-02-10 15:37] lomky commented on #500
[Documentation](https://github.com/USGCRP/gcis-internal/wiki/Import-References---First-Pass) I am developing with this process.

[2017-02-10 17:08] lomky commented on #500
Working through the [EndNote to GCIS Type Reconciliation](https://docs.google.com/spreadsheets/d/19m7X-p4ZgpDQcWsHShhAHb3lLvfHtLlb7DZbCxoCMUA/edit#gid=0) with @amruelama and @Zullmira

[2017-02-10 18:17] lomky opened #503 "Convention for Naming Persons in GCIS - Moving Forward"
Our current convention for figuring our which name for use for a `Person`s is due for an update.

Our [Current convention](https://github.com/USGCRP/gcis/wiki/Conventions#adding-people-to-gcis)

My suggestion for the convention is as follows:

 1. If the author provides us with their preferred name _and their OrcID_, use the provided name.
    1. We could only use custom name requests if they give

[2017-02-10 18:20] lomky commented on #503
This proposal suggested no changes to our first/middle/last naming conventions.

[2017-02-10 18:21] lomky opened #504 "Update CSSR Authors in GCIS"
Ticket currently pending feedback from Dave D. when he hears confirmation from the CSSR authors on how they would like their names to appear.

--
Authors for the upcoming CSSR are mostly in GCIS, but do not have their names formatted as in the report or according to either [our current conventions](https://github.com/USGCRP/gcis/wiki/Conventions#adding-people-to-gcis) nor the new proposed conventi

[2017-02-10 18:23] lomky commented on #504
@amruelama - I'm filing this ticket after discussion with Dave D. We'll eventually want to update the names of ~25 `Person`s, at most. He's emailing the authors to confirm how they would like to be cited and will get back to us with the info.

[2017-02-15 20:11] amruelama commented on #329
83 of them are not webpages but datasets (82) and findings (1) (Use filter Status = 'Yes' and 'Finding') under '[Webpages QA](https://docs.google.com/spreadsheets/d/1tr68prMQSffCy4HjIg-szmpyNw0J1YtzJf3CSfDbdZg/edit#gid=1699357652)' sheet. We should convert these into datasets and finding.

[2017-02-15 20:13] amruelama commented on #329
Broken URLs are updated now

[2017-02-15 21:10] amruelama commented on #479
All the broken URLs have been updated to the current working URLs

[2017-02-15 21:10] #479 closed

[2017-02-16 20:51] amruelama opened #505 "Add a new org type"
Add 'public-private partnership' as a new organization type.

[2017-02-16 20:59] amruelama opened #506 "Feature to convert a webpage to dataset in GCIS"
After the webpages QA (#329), we figured that, out of 285 webpages 82 are datasets and 1 is a finding. So we may have to come up with an idea to convert these webpages to datasets.

[2017-02-16 21:00] #329 closed

[2017-02-17 14:00] lomky commented on #504
Info is being gathered on [CSSR Authors here](https://docs.google.com/spreadsheets/d/1daH3hDPidPJPHXR5FLAYl4eYpLuIq0XrxFdJ4cdbrHI/edit#gid=1643535396)

 - Things to be done:
   - [ ] Update names to match OrcID (or other requested format)
   - [ ] Add any missing persons
   - [ ] Find any OrcIDs we are missing
   - [ ] Find the organization for this report contribution

Following this ticket's inf

[2017-02-24 17:37] abuddenb commented on #498
Just noting that we talked about this in a Hangout (2/23). @lomky started a thread in Slack to discuss specifics with Angel.

[2017-02-28 18:07] amruelama opened #507 "Make regions visible in the publications' front page"
Currently GCIS doesn't display either the number of regions associated or the names of regions in the publication front page.

See the currently available regions in GCIS and their associated publications list -  https://data.globalchange.gov/region.

We can make this display available temporarily, until we resolve #469

[2017-02-28 19:45] #499 closed

[2017-03-09 22:00] Zullmira commented on #470
I sent out an Excel document on all the QAs mentioned for this ticket. Just to let all of you have an overall idea that all the NCAs are different (probably includes NCA4) when it comes to sorting the regional divides. For more detailed information, please see the Excel document.

[2017-03-15 17:52] lomky commented on #498
Summing up a conversation in Slack:
 - Add a field to the Figure table of type json
 - Expose this field via RESTful API: at `/report/{report_id}/chapter/{chapter_id}/figure/{figure_id}/original.json`

Notes from me:
  - this field should not be exposed in the normal api
  - data does not need to be kept private in any way

The initial implementation will hopefully make way eventually to full inte

[2017-03-15 17:59] lomky commented on #469
@rasherman You mentioned some research you had done on this on our Tag Up, could you comment here?

[2017-03-15 18:01] lomky commented on #500
References Types Processing Child Pubs Properly:

  - [ ] Articles
     - [ ] Journals
  - [ ] Web Pages
  - [ ] Reports
  - [ ] "Other"

[2017-03-15 18:08] abuddenb commented on #498
There will be multiple versions of our survey results (in JSON)--which is why we're asking for a catch-all vs specific fields. Here's an example of the first version:

[code]
Here's a more recent iteration:

[code]

[2017-03-15 19:23] rasherman commented on #469
I was thinking of the cito:updates term (http://www.sparontologies.net/ontologies/cito/source.html#d4e1449) but that says it is for things where new information is added, so it's better used for, say, a chapter in NCA4 "updating" the related chapter in NCA3.

But I think prov:wasRevisionOf (https://www.w3.org/TR/2013/REC-prov-o-20130430/#wasRevisionOf) sounds like it fits here. The new region is a

[2017-03-16 15:26] lomky commented on #500
The import script appears to overly-agressively normalize reports & articles. (same title, different year overwrites existing reference). Will need to fix that.

[2017-03-17 13:31] lomky commented on #500
In correctly treating some of the references as existing, we will end up **not** importing some private fields that seem related to the report at hand:

  - `_chapter`
  - `_record_number`

Investigate if this will be a problem.

[2017-03-17 13:33] lomky commented on #500
Setting this task aside to focus on a separate needed feature. Todo upon taking this back up:

  - Examine overly-aggressive matching
     - make the script consider a publication year as non-negotiable
     - others?
  - Teach the script to create report objects for `book_section` references?
  - Teach the script to create book objects for `book` and `electronic_book` references

[2017-03-17 19:15] lomky commented on #498
- `_origination` field added to Figure
    - seems to be ignored by Figure API by default, to be confirmed.
 - GET path created. [Example on data-review](https://data-review.globalchange.gov/report/nca3/chapter/transportation/figure/role-of-adaptive-strategies-and-tactics-in-reducing-impacts-and-consequences/original.json) (limited access server)
    - `json` only
 - POST path in progress
   - cur

[2017-03-20 15:51] lomky opened #508 "Create new Swagger API Page Test"
The [previous test](https://github.com/USGCRP/gcis/blob/803e2ba3a9a761468f894cdc2c76040208c39976/t/019_swagger.t) for our [API page](https://data.globalchange.gov/api/) relied on a [deprecated Swagger module](https://metacpan.org/pod/Swagger2#DEPRECATION-WARNING) that [has begun critically failing](https://github.com/jhthorsen/swagger2/issues/99). Only the former test used this module, no actual c

[2017-03-21 12:38] lomky commented on #498
Code Complete excepting tests on the new API route. Moving into review and assigning to @abuddenb

Remaining Steps:

 - [ ] Set tests for POST and GET of `original.json` path
 - [ ] TSU/Andrew approval of implementation
 - [ ] Follow on ticket for [long-term] mapping to `Activity`

[2017-03-21 13:00] lomky commented on #469
@amruelama pointed out these older tickets relating to regions & semantic:

1.    Describe the linkage between region and publication - https://github.com/USGCRP/gcis-ontology/issues/62
2.    Inform whether a region should be a subclass of prov:Entity - https://github.com/USGCRP/gcis-ontology/issues/61
3.    Creating a property for region - https://github.com/USGCRP/gcis-ontology/issues/60

[2017-03-21 17:01] lomky opened #509 "Long Term: Map TSU Metadata Figure Originations into Activities"
Followup from #498

TSU collects great extra metadata on the Figures that should correspond to GCIS Activities.

Things to solve:

  - The format for the metadata is not stable
  - The Activities in GCIS are just text fields
  - TSU needs to receive back the json formatted metadata

Not likely to be a priority pre-NCA4

[2017-03-22 18:55] lomky commented on #498
Added better Server handling for bad POST content and a DELETE path after conversing with Andrew.

[2017-03-23 12:22] abuddenb commented on #498
I think this is in a good place. Angel is going to develop the new metadata viewer against this new endpoint on data-review; that should shake out any critical bugs.

Once he's done and we're all agreed we can probably roll this out to production. I don't have credentials there, so we'll need to talk about moving data from somewhere else.

[2017-03-23 12:54] lomky commented on #498
@abuddenb Production content is loaded into Stage and then pushed to production, so I think the steps look like this:

  1. Kat builds a Code Release with the new paths
  1. Kat pushes the Code Release to Stage & Production
  1. Andrew(?) updates data on Stage (now that the paths there are valid)
  1. Amrutha reviews Stage and does a Content Push to Production

And then the data will be live.

[2017-03-23 13:03] lomky commented on #498
Documented the basics of this [API on the internal wiki](https://github.com/USGCRP/gcis-internal/wiki/Origination-API-Documentation).

[2017-03-23 17:49] lomky commented on #503
@amruelama what are your thoughts?

[2017-03-23 17:53] lomky commented on #501
Articles, Reports, and Web Pages will automatically create along with their References. This ticket covers the remaining ~30 references of other types.

[2017-03-24 14:39] #488 closed

[2017-03-27 15:09] lomky commented on #462
Given 487 alises to populate.

Skipping unknown organization: 'springer-berlin-heidelberg'

[code]

[2017-03-27 15:28] #462 closed

[2017-03-28 16:57] amruelama opened #510 "Make editing possible for org names without affecting the table relationship"
While testing alternate names, I encountered the following error. This basically happened while I tried to edit/update the names of Organizations that had alternate names :

`ERROR: update or delete on table "organization" violates foreign key constraint "organization_alternate_name_organization_identifier_fkey" on table "organization_alternate_name" DETAIL: Key (identifier)=(university-utrecht-de

[2017-03-28 17:00] lomky commented on #510
I don't get any error when updating an Organization Name on review. Do you mean changing the Organization Identifier?

[2017-03-28 17:10] amruelama commented on #510
Yes, I am trying to change both identifier and name for an organization without affecting the alternate name (relationship). Do we already have this capability or we need to delete and re-add the alternate name each time we edit an identifier and name?

[2017-03-28 17:16] lomky commented on #510
This should work, it's a bug. I'll look into it.

[2017-03-28 17:17] amruelama commented on #510
Sure, thanks!

[2017-03-28 17:22] lomky commented on #510
Found it! Simple fix (I forgot to set the Alternate Name foreign key to cascade changes). I'll add the code and make a 1.48.1 release, and we can have this go out shortly.

[2017-03-28 17:28] lomky commented on #510
There is an existing bug as well, where after you update an identifier the redirect fails (tries to go to the old identifer)

[2017-03-29 13:56] amruelama opened #511 "Make adding publications to authors possible"
Adding publications to authors is not possible. This may be a bug. Typically, we add authors directly under articles (publications). But when I tried to add articles under an author, the feature does not work.

Ex: I need to add the article "Monitoring and reducing exposure of infants to pollutants in house dust." to the author - https://data-stage.globalchange.gov/person/8939

[2017-03-30 14:56] lomky commented on #500
This is back in progress and we are working through actual chapter difference reconciliation.

Book paths were abandoned because we cannot reliably translate the EndNote 'Book' type into GCIS  'Books', sometimes they are 'Report'

[2017-03-30 15:01] lomky commented on #500
[Reconciliation Work for Chapters 1-6](https://docs.google.com/spreadsheets/d/1BUkcdXjHeyeUji4mEPzCR6WpXKfLgYJKplgHmt23yiQ/edit#gid=569094283)

[2017-04-05 13:33] lomky commented on #510
Fixed in release 1.48.1

[2017-04-05 13:33] #510 closed

[2017-04-05 17:54] abuddenb commented on #498
@amruelama Data loaded to stage.

[2017-04-05 17:58] amruelama opened #512 "Remove bullet symbol where organization is blank"
[This](https://data-stage.globalchange.gov/article/10.1007/978-1-4419-0032-6_1) article's authors affiliations are not listed in the publication page. In this case, the organization should be left blank as per GCIS conventions. So we should change the default template to make sure we don't have bullet symbol for blank organizations.

[2017-04-06 15:44] amruelama commented on #498
@abuddenb @lomky The content push is done and you should see the changes in production now, which closes this ticket.

[2017-04-06 15:44] #498 closed

[2017-04-06 17:41] lomky commented on #464
This would be great to have by April 21st for the NCA4 author's chats.

[2017-04-06 20:02] lomky commented on #464
- Configured Postfix on the prod-backend server to relay to gmail.
    - Testing email times out trying to reach out, as expected.
 - Pinged ICF to allow the server to send email.

[2017-04-07 16:52] lomky commented on #464
ICF has a request in for the Firewall to be opened to allow prod to send emails.

[2017-04-07 19:01] lomky commented on #496
This is complete, I believe. @rasherman & @amruelama can I show this to you on Monday to get your feedback?

[2017-04-10 12:45] lomky commented on #502
@amruelama we talked about this a bit in the tag up. Would you like me to set up a new instance of GCIS where you can populate the Contributors against a dummy CSSR? Then for go-live on the CSSR we can transfer the info to stage.

[2017-04-10 12:46] lomky commented on #500
[New link for Reference Reconciliation Work](https://docs.google.com/spreadsheets/d/1tYAtvugI1ithkquXTCUzqbXaQXb-1ye_XakOClQBfA0/edit#gid=1418081154)

[2017-04-10 15:36] amruelama opened #514 "Search feature error on stage and prod"
Search feature doesn't seem to be working. Shows the following error:

[code]

[2017-04-11 12:12] lomky commented on #500
@amruelama finished the initial pass of reference issues, and we met and discussed them. Scheduled a meeting with TSU reference folks to discuss problematic references and requested data changes for this Friday.

[2017-04-11 13:33] lomky commented on #514
Pinpointed the error.

Rose::DB did not natively support the JSON column type from postgresql. Added in the type based on `scalar`, and taught our search to pass on querying that column.

@amruelama - This fix will go out with the next release on Tuesday.

[2017-04-12 15:21] lomky commented on #464
Feedback form
 - html created
 - hooked up to ReCaptcha
 - validated
 - email configured & dummy tested

Waiting on:
 - feedback user creation
 - 2FA enabled
 - ICF firewall change

Remaining steps:
  - enable 2FA on feedback user
  - Configure postfix with feedback user
  - setup configuration options
  - setup production recaptcha info

[2017-04-13 18:05] lomky commented on #464
- Configuration done on the production machine. Test messages working.
 - recaptcha setup on the mail account.
 - production config backed up to the production config

I believe this ticket is complete.

[2017-04-14 16:51] amruelama opened #515 "Make 'Author' the default role while creating a new person"
Currently the default role while adding a new person is GCIS is 'Convening Lead Author'. As 'Author' is the most common role of a person in GCIS, make it the default role.

[2017-04-14 19:57] lomky commented on #500
Met with Amrutha, Tom & Mara. Created path forward for references. Expecting new EndNote file with additional references from the authors around May 1.

Meanwhile, @amruelama can move forward with updating the references in GCIS as needed.

Started conversation in the Slack about how to handle changing UUIDs for false positives.

[2017-04-14 20:00] lomky commented on #514
Hm, testing reveals the bug still exists. Possibly missed some change in my dev env? Investigating.

[2017-04-14 20:00] lomky commented on #464
Functionality is complete, but tests are failing. To fix.

[2017-04-17 13:03] lomky commented on #514
Thought this wasn't working yet, but testing with fresh eyes shows everything working fine.

[2017-04-17 13:20] lomky commented on #464
Tests should be functional now.

[2017-04-17 13:42] lomky commented on #515
Done. @amruelama please feel free to request this for any given field that will make your life easier, as this is a simple thing to flip in the code.

[2017-04-17 14:21] lomky commented on #514
Search with anonymous user is working, but something is wrong when we are logged in. Investigating.

[2017-04-17 15:29] lomky opened #516 "Upgrade PostgreSQL Version"
We are currently running the PostgreSQL 9.2 version, which hits End of Life in September 2017.

 - [ ] Investigate which version to move to
   - 9.6, unless we have a strong reason not to move to most current
 - [ ] develop the upgrade process
   - work with ICF?
 - [ ] Upgrade dev, stage, prod, & review
    - review currently on 9.3

See [Postgresql versioning page](https://www.postgresql.org/sup

[2017-04-18 12:31] #464 closed

[2017-04-18 12:31] #514 closed

[2017-04-18 12:31] #515 closed

[2017-04-18 13:17] #496 closed

[2017-04-18 18:03] lomky commented on #512
@amruelama given we don't want to have authors without orgs in our system in the long run, do you still want this change?

[2017-04-18 18:16] amruelama commented on #512
@lomky Yes, because we do not want to keep just the bullets where affiliations are null. Also, let's decide this after we come up with ideas on how to denote unlisted affiliations on the article's front page in GCIS.

[2017-04-18 18:40] lomky opened #517 "Swap Organization Names to English-Based Versions"
Now that we support alternate names, we want to go through the organization that  are named in their original language, set their name to the English version, and then set their alternate_name appropriately.

[2017-04-19 18:04] amruelama opened #518 "Allow to enter sort key while entering/relating data in edit mode"
Currently we can enter the sort key only after saving the changes (adding/ relating the person or organization). Allow to add the sort key as we enter contributor data for an article.

[2017-04-20 16:37] amruelama opened #519 "Deleting the contributor from an article should also delete the person-org relationship"
Deleting the contributor (person related to org) from an article should also delete the author-org relationship and shouldn't have an empty organization listed under the person (see below):

![screen shot 2017-04-20 at 12 33 10 pm](https://cloud.githubusercontent.com/assets/18075324/25241877/90e82a56-25c5-11e7-8b22-0f36f0114d6e.png)

![screen shot 2017-04-20 at 12 31 57 pm](https://cloud.githubuse

[2017-04-21 12:15] lomky commented on #518
Doing a first-pass on this to see how hard it'll be to front this

[2017-04-21 15:48] lomky commented on #518
this is doable @amruelama

It will be on a per-object basis, can you give me the ones you want this the most on? All of them or just a subset?

[2017-04-21 15:56] lomky commented on #512
How's this look, @amruelama

<img width="1032" alt="screen shot 2017-04-21 at 11 55 28 am" src="https://cloud.githubusercontent.com/assets/6129479/25285795/7cbf63c2-2689-11e7-8216-b181f3e17db3.png">

[2017-04-21 16:00] amruelama commented on #518
Great! Basically, I need this feature while adding contributors for any article. Is that possible?

[2017-04-21 16:02] amruelama commented on #512
@lomky Perfect. This is what I need.

[2017-04-21 17:48] lomky commented on #519
Found the root of this problem. The delete path only deletes the relationship between the Publication and the Contributor, but doesn't remove the Contributor.

To fix this, we should check if there are any remaining publications linked to this Contributor, and if not, delete the Contributor object. (Person & Org objects being unaffected).

[2017-04-21 17:49] lomky commented on #519
Code of interest is in `lib/Tuba/Controller.pm` in the method `update_contributors`

[2017-04-21 18:57] amruelama commented on #519
Solving this issue will also solve the future additions/deletions that may lead to #357

[2017-04-21 19:04] lomky commented on #519
Okay, changes made.

  - [x] Deleting one of many relationships does not remove the contributor - publication map
  - [x] Deleteing the only relationship does remove the map
  - [x] deleting the map is now properly audited

<img width="829" alt="screen shot 2017-04-21 at 2 55 01 pm" src="https://cloud.githubusercontent.com/assets/6129479/25292336/b0963bd4-26a3-11e7-86d6-e0df2308290e.png">

[2017-04-21 19:30] lomky commented on #519
@amruelama I have this running on the data-review instance. Could you please test it there and confirm it is working as you expect?

[2017-04-21 19:35] amruelama commented on #519
Tested for a couple articles and it works well!

[2017-04-24 12:37] lomky commented on #357
@amruelama Can you confirm if this is fixed on the data-review instance?

[2017-04-24 14:27] lomky commented on #518
@amruelama This should now be functional on data-review for Contributors on Articles. Can you test it out?

Let me know of any other high-priority places you'd like to get the sort_key on.

[2017-04-24 18:06] amruelama commented on #518
@lomky Just tested. Works perfect!

[2017-04-25 14:38] lomky opened #520 "Create an API Deprecation Process"
Work with my current API consumers to develop a reasonable deprecation path.

Deprecation would be necessary with the main version increment, according to the [Semantic Versioning](http://semver.org/) method.  Any non-backwards-compatible changes would bump the main digit.

  - what is a good notification window for upcoming deprecation? 6 months? 1 year?
  - versioning the API path?
  - support w

[2017-04-25 16:56] amruelama opened #521 "QA MMWR/CDC"
The following need to be done to QA Morbidity and Mortality Weekly Report (MMWR) and [CDC](https://data.globalchange.gov/organization/centers-disease-control-and-prevention) in GCIS:

- [x] Find all the MMWR reports in GCIS
- [x] QA each article's publisher to make sure it is CDC
- [x] Make sure all the organization's identifier, name and relationship matches with GCIS conventions.

[2017-05-03 13:50] lomky commented on #431
@amruelama how does this look to you?

![gcis](https://cloud.githubusercontent.com/assets/6129479/25663512/e6780660-2fe5-11e7-936d-b228235c7e93.png)

[2017-05-03 14:19] amruelama commented on #431
@lomky This looks good to me. But if you could move the delete buttons to the left side (or anywhere you think will be better), that would be great. Just don't want to accidentally delete the key as I enter the replace values.

[2017-05-04 16:12] lomky commented on #431
Okay, this is ready to go!

[2017-05-08 15:34] #512 closed

[2017-05-08 15:34] #519 closed

[2017-05-08 15:35] amruelama opened #523 "QA NOAA's organizational structure in GCIS"
Here is the list of links sent by @rasherman that will be helpful to curate the organizational structure of [NOAA in GCIS](https://data.globalchange.gov/organization/national-oceanic-atmospheric-administration)

[2017-05-08 18:49] amruelama opened #524 "Allow to enter two different roles at same time while adding authors for an article"
An author can also be a point of contact (corresponding author) for articles. Since 'author' and 'point of contact' are two different roles in GCIS, every time we add these authors twice to add two different roles. Allow GCIS to add authors and point of contact together perhaps, with a check box or whatever the best approach is.
@rasherman Do you have any suggestions?

[2017-05-09 14:39] lomky opened #525 "Reference Attributes Should Be Deletable"
Follow On to #431, which enabled reference attribute adding and updating, and was supposed to also add deletion. But the delete does not seem to be functional. Fix that.

[2017-05-09 16:56] #505 closed

[2017-05-09 16:57] #518 closed

[2017-05-09 16:57] #507 closed

[2017-05-09 16:57] #431 closed

[2017-05-09 17:04] lomky opened #526 "Increase Tuba.pm Test Coverage"
Currently sitting at 82%, increase coverage to as high as is possible (100% preferable).

[2017-05-12 18:17] amruelama opened #527 "Add hyperlink to 'references' ISBN field"
[This](https://data.globalchange.gov/book/0260d3c1-cd9f-4a8d-a63f-50af49a961ad) book is an example to show hyperlink to ISBN for 'books' in GCIS. Implement this for 'references' as well. Currently the ISBN field under references (see - https://data.globalchange.gov/reference/0023e650-9534-4fb9-be44-fa3f55f0babe) do not have hyperlinks.
This could be implemented by adding the prefix `http://www.wor

[2017-05-16 12:23] lomky commented on #385
Discovery note: our current release process is predicated on having an existing, running development server to compare to. Somewhat troubling as a dependency.

[2017-05-18 18:10] lomky commented on #390
Redundant to #519

[2017-05-18 18:10] #390 closed

[2017-05-24 16:15] amruelama opened #528 "Add a flag or check mark for authors that are corresponding authors"
In GCIS, corresponding authors are 'the point of contact' authors. Currently, we relate them seperately, i.e., relate a person as author for an article and relate a person as point of contact for the same article. Going forward, we should be able to flag these authors to indicate two roles (author as primary role and point of contact as secondary role)

Things to do:

- [ ] Add the check mark/ fla

[2017-05-24 19:58] amruelama opened #529 "Add missing author information for CHA references"
Here is the list of references with missing author information. Populate the field with the help of reference citation from the report:

1. [Social Science Research and Climate Change: An Interdisciplinary Appraisal](https://data-stage.globalchange.gov/reference/8636db50-e54e-490d-8dea-1a22e41a36f7).
2. [Psychologists Responding to Hurricane Katrina. Professional Psychology: Research and Practice]

[2017-05-25 18:48] rasherman commented on #524
We discussed this, and I believe this issue is made moot by issue #528. Should we call this resolved, or is there another use case for an author having two roles?

[2017-05-25 18:58] amruelama commented on #524
@rasherman  Yes, closing this issue since we figured the best approach.

[2017-05-25 18:58] #524 closed

[2017-05-25 19:05] amruelama commented on #529
Populated all the missing field values (Editor) for the above references. The changes will go to prod, next Wednesday.

[2017-05-25 19:11] amruelama commented on #529
References 2. [Psychologists Responding to Hurricane Katrina. Professional Psychology: Research and Practice](https://data-stage.globalchange.gov/reference/7e3016b3-4924-4fae-851d-ff807a79de8d) and 8. [Climate Change and Indigenous Peoples in the United States: Impacts, Experiences and Actions](https://data-stage.globalchange.gov/reference/ef2b1084-10a4-475b-aeff-6093f8000e17) need to be associate

[2017-05-25 19:42] rasherman commented on #486
Going through old tickets just to see if there are things I've forgotten about and should bring back up. Responding to this since I was mentioned:

I don't think there's much more to say. This can be fairly simple and no-frills, I can just envision something that runs through the report and spits out something for each agency like:

EPA provided key support to the NCA including:
XX Authors of the

[2017-05-31 14:50] amruelama opened #530 "Stage returns internal server error"
Stage returns the following error quite often and when I load any page. But works when I reload the page.

[code]

[2017-05-31 14:53] amruelama commented on #529
Updates are now on prod.

[2017-05-31 14:53] #529 closed

[2017-05-31 19:13] amruelama commented on #298
As there are only 51 names with middle names, I am going to move those initials to the first names so as to be consistent with other names. We can move these initials (second part of the first name) to middle name field any time we wish.

Hence middle name field will be NULL for all the 10K+ authors.

[2017-05-31 19:33] amruelama commented on #298
This is done on stage. We can further discuss about naming convention in #503

[2017-05-31 19:33] #298 closed

[2017-06-02 13:38] lomky commented on #530
Seems to be an isolated set of errors occurring May 30 - May 31. Though there has been less activity in the couple days since then, so no guarantee it is actually resolved vs not yet reoccurred.

First Error:

I recently changed this functionality (`update_contributors`), so that's a big red flag.

[2017-06-02 14:22] lomky commented on #530
Many instances of the `update_contributors` functionality were successful even minutes prior to the errors beginning.

Chain of events leading up to the first error, starting from the most recent listing page:

This isolates this particular problem to directly after an `organization` `merge`, so I will focus there since other `organization` `update_contributors` succeeded without issue. Strongly s

[2017-06-02 14:24] lomky commented on #530
@amruelama have you had issues with `organization` `merge`s in the past? Is it something you do often on `organization` objects?

[2017-06-02 14:28] amruelama commented on #530
I haven't had merge issues that would return a 500 error. But I couldn't even open a stage URL (for those two days) say, a URL link from a spreadsheet because of this error. So I had to reload the page often to get it work.

[2017-06-02 14:29] lomky commented on #530
@amruelama that matches the sort of problems I would expect from an unclosed transaction. Did the `500`s stop after you did the content push?

[2017-06-02 14:35] amruelama commented on #530
No, it didn't. I had an error while running commands for content push (./reset-to-stage). But it worked after I logged out and logged in my VPN. I believe, I saw the error until 31st evening.

[2017-06-02 14:39] lomky commented on #530
For future reference & more command line practice, @amruelama, here is how you can see more details about a 500 error.

 1. As soon as you get the 500 error on a page, stay on that page & don't reload.*
 1. SSH to the stage backend as gcisops
    1. same `ssh` command as the content push process uses
 1. Get the most recent logs:
    1. `tail -n 50 /var/local/log/tuba.log` will show it on the term

[2017-06-02 14:42] amruelama commented on #530
@lomky Sounds good! I will log these if I see anymore errors

[2017-06-02 14:43] lomky commented on #530
@amruelama My best theory is the `merge` process hit a bug in the code, leaving the update incomplete. From then on that incomplete state caused all the 500s. When you did the content push, that incomplete transaction is what caused the blip in your content push saying a user was logged in. Then you hit the bit in the content push that stopped & restarted tuba, which closed the transaction, allowi

[2017-06-02 14:49] amruelama commented on #530
I spot checked a few and they're in the prod. So no problem I think.

[2017-06-02 16:06] amruelama commented on #528
@lomky Could you prioritize this, please? Looks like there are so many author POCs that we've been adding recently. Just adding the feature should be fine for now.

[2017-06-05 12:37] lomky commented on #528
@amruelama an easy way to make this happen is let the PoC continue to be a separate contributor relationship, but allow you to create it via a checkbox when assigning another role.

Pros:
  - no need to update existing data
  - no need to change data model
  - going forward, only one need to enter a person once

Cons:
  - none that stick out to me. Two lines to remove if you need to delete them?

[2017-06-05 13:19] lomky commented on #530
@amruelama did the two orgs you were merging have any of the same contributors?

[2017-06-05 14:09] amruelama commented on #528
@lomky I wouldn't worry about deleting two lines if I need to delete them. Since we are adding hundreds of contributors per week and we have around 90% of articles with authors that are POCs, anything that simplifies the process of adding multiple roles for contributors would be great. For now, we only have examples for author-POC multiple roles.

[2017-06-05 14:29] lomky commented on #530
Almost certain this is failing due to a blind database reassign.
`lib/Tuba/Organization.pm:merge`
[code]
`publication_contributor_map` has a `unique` requirement for `publication`+`contributor`. If it already exists this will `die` and be caught, _but_ we are relying on the (notoriously) iffy `if($@)` `eval` error catch - which is failing. Probably due to DB object magic inside the eval (see [here

[2017-06-05 14:39] lomky opened #531 "Organization Merge Should Not Fail When Organizations Share Contributors"
Inside of the `Organization` controller, the merge code blindly tries to update the organization without checking if that unique pair already exists. The eval code does not properly catch the error, resulting in the constant `500` errors reported in #530.

Steps to correct this:

  - [x] Improve the merge code to properly handle redundant `Contributor`s `Organization`
  - [x] Replace the `eval` tr

[2017-06-05 14:39] lomky commented on #530
Closing this investigation ticket. Work will be done in #531

[2017-06-05 14:39] #530 closed

[2017-06-06 17:48] amruelama commented on #357
Steps to delete extraneous contributors : (Thanks @lomky )
- [ ] Query the number of contributors listed under person that has no org or article associated

      SELECT count(1)
      FROM contributor
      LEFT JOIN publication_contributor_map ON contributor.id = publication_contributor_map.contributor_id
      WHERE publication_contributor_map.contributor_id IS NULL
          AND  contributor.p

[2017-06-07 12:09] lomky commented on #531
Today's process, pseudocoded:

  - for all `contributor`s with this `organization`, set to the target `organization`
  - delete this `organization`

Needed process, pseudocoded:

 - grab all the `contributor`s associated with this `organization`.
 - for each `contributor`, check if the `person`+`role_type` already exist for the target `organization`
    - if no:
      + reassign the `contributor`

[2017-06-07 14:51] lomky commented on #491
**Method 1** indeed is only implemented for `Author`, but is written in such a way to allow for other objects to use it through the Rose::DB object structure. I strongly prefer this backend implementation.

**Method 2** is more user friendly, but has a very problematic bug in it, see #531 Better to use this front end UI design on the other method.

[2017-06-07 14:52] lomky commented on #531
on ticket #491 our various merge functions are described. The merge code on the `person` object may be a good reference point.

[2017-06-07 16:19] #357 closed

[2017-06-08 17:49] lomky commented on #491
Person, Organization, Publication & PublicationContributorMap can now merge.

[2017-06-09 14:36] lomky commented on #491
Discussed what other objects should be mergable with @amruelama. Nothing came up as both easily automate-able & commonly used. Closing out this ticket as complete with #531. Further merge functionality can be requested in new tickets.

[2017-06-09 14:36] #491 closed

[2017-06-09 14:38] lomky commented on #528
We're going to move forward with making the `role` field a multiselect option, and letting the controller beneath handle creating the multiple relationships.

[2017-06-09 18:33] lomky commented on #526
Still more to do, but managed to get it to 87%!

[2017-06-09 18:53] lomky commented on #527
Grabbing as an easy add for next release.

[2017-06-12 16:49] #526 closed

[2017-06-12 16:49] #325 closed

[2017-06-12 16:49] #525 closed

[2017-06-12 16:49] #527 closed

[2017-06-12 16:49] #528 closed

[2017-06-12 16:49] #531 closed

[2017-06-12 16:56] lomky opened #534 "Reports with Regions are throwing a 500 error"
Specific reports giving `500` errors on `GET`.

Example:

https://data.globalchange.gov/report/ccsp-2003planupdate-2008

Log:

[2017-06-13 16:18] amruelama opened #535 "Add multiple roles selection feature under article's contributors"
Add multiple roles selection feature under article>contributor as implemented under person>relationship (Issue #528) as most of the contributors are added via article page.

[2017-06-14 19:39] amruelama opened #536 "Handle article identifier redundancy in GCIS and fix the duplicates"
The following articles are redundant, queried by similar name, similar journal, but different article identifiers. The two possible reason for this redundancy are upper case/ lower case differences and PMID/PMC differences in identifiers, i.e., the differences in alphabet characters only. Although the article identifiers are created by DOIs/PMIDs/PMCs the system doesn't warn about duplicate identi

[2017-06-15 17:16] lomky commented on #485
Work being done under new repo:
https://github.com/USGCRP/gcis-provenance-evaluation

[2017-06-15 18:11] lomky opened #537 "ESIP Presentation of GCIS Metrics"
Prepare a presentation for the ESIP meeting this July.

Possible formats:

 - The poster session “Research As Art”.
   - Research results or scientific work that can be displayed artistically (this could be on a poster or a screen with some animation or something like that) to demonstrate a key main point with visual interest.
  - Breakouts on Thursday afternoon that can be signed up to present/di

[2017-06-15 18:14] #406 closed

[2017-06-15 18:17] lomky opened #538 "Establish Provenance Weights"
Following on the discussions last year of metrics. #406

 - [x] Finalize scores for the various Resources in GCIS.

[The rating criteria](https://github.com/USGCRP/gcis-provenance-evaluator/blob/master/docs/initial_design/initial_design.md#provenance-rating)
[Internal scores](https://github.com/USGCRP/gcis-provenance-evaluator/blob/master/scores/internal_score.yaml)
[Connection scores](https://git

[2017-06-15 18:32] lomky opened #539 "Read Only Admin Access"
Create a read-only access level that allows access to the admin watch activity pages, but does not allow access to the Update forms / POST methods.

[2017-06-15 18:36] lomky opened #540 "Create an Average Provenance Score script"
Create a script that will read the provenance score tree produced by #485 and produce a single score for the entire Resource.

Bonus points: given a depth argument, produce scores averaged up to that depth instead.

[2017-06-15 18:40] lomky opened #541 "Create an "Easy Fixes" Evaluation Script"
Given the output of the script from #485, list out all of the resources scoring "Poor".

Bonus: Create a generic version that can produce all of any given score.

[2017-06-15 18:47] amruelama opened #542 "Increase the string size limitation for autocomplete feature in GCIS"
Currently, there is a limitation for the number of characters we can type in the autocomplete box, in order to show if that item exists in our system. The problem with this limitation is, we could not copy/paste the entire name to retrieve the data using the autocomplete feature and so, we should copy/paste only half of the entire length of the string. In many cases, the first part of the string a

[2017-06-15 19:00] amruelama commented on #299
Redundant to #542

[2017-06-15 19:00] #299 closed

[2017-06-15 20:02] amruelama commented on #542
The longest organization title we have so far is "**[National Center for Zoonotic, Vector-Borne, and Enteric Disease Division of Foodborne, Waterborne, and Environmental Diseases Mycotic Diseases Branch](https://data.globalchange.gov/organization/national-center-zoonotic-vector-borne-enteric-disease-division-foodborne-waterborne-environmental-diseases-mycotic-diseases-branch)**" with length 149 an

[2017-06-19 18:44] amruelama opened #543 "Populate articles metadata"
- [x] Query articles with no DOI or URL
- [x] Find DOI (first priority) or URL for the articles and populate them
- [x] Make sure this query returns 0 rows
` SELECT * FROM article where DOI is NULL  AND URL is NULL;`

[2017-06-19 18:53] amruelama commented on #521
QA CDC - https://www.cdc.gov/about/organization/cio.htm

[2017-06-21 14:10] lomky commented on #535
@amruelama this should be working on dev now. Let me know if it looks right!

It should actually work for every Object that has a "contributors" edit tab. e.g. figures, tables, articles, reports, etc.

[2017-06-21 14:15] lomky commented on #539
@Zullmira You should now have the ability to view the watch page on the `dev` server (not yet released to `stage`). Could you test this for me? You'll need to be in the office to access `dev`.

  1. Connect to the ICF VPN.
  1. Log in here with your @usgcrp.gov email: https://data-dev.globalchange.gov/login
  1. Check that this page loads: https://data-dev.globalchange.gov/watch
  1. Confirm that

[2017-06-21 14:31] amruelama commented on #535
@lomky This works perfectly. But this also conflicts with issue #515. Is it possible to make 'author' the default role and also multiple role selection possible?

[2017-06-21 16:04] lomky commented on #535
@amruelama great catch! I think it should work properly now. Pushed fixes to dev.

[2017-06-21 17:25] lomky commented on #482
Fixed in #531

[2017-06-21 17:25] #482 closed

[2017-06-21 17:26] lomky commented on #398
Duplicates #530  Fixed in #531

[2017-06-21 17:26] #398 closed

[2017-06-21 17:41] amruelama opened #544 "Merging organizations should merge all their relationships"
As an extension to issue #531, merging two organizations should also merge the following relationship:

- [x] Contributions (This works perfectly after the issue 531 fix)
- [x] Related Organizations
- [x] Alternate Organizations Name

Ex: Merging Organization 1 - https://data.globalchange.gov/organization/centers-disease-control-prevention-division-vector-borne-infectious-diseases and Organization

[2017-06-21 20:03] amruelama opened #545 "Do we need 'publisher' field in GCIS Journals?"
In GCIS, we can add publisher as an organization and relate them to the journal as a contributor. But we also have a field called 'publisher' under journal. Basically we need to add the same publisher name in the field. We can totally get rid of this field, if there is no specific importance to it. If we populate publisher field and also add the publisher as a contributor, it appears twice on jour

[2017-06-22 12:02] lomky commented on #545
I'm a fan of removing the field on Journal, instead using the contributor relationship.

[2017-06-22 16:40] amruelama commented on #543
List of articles with no DOI and URL and status update [spreadsheet](https://docs.google.com/a/usgcrp.gov/spreadsheets/d/1q3AAH2_AlrSV5cz7X3G-APuR2tuWO-kMxKMyUDCeajg/edit?usp=sharing)

[2017-06-22 18:48] #397 closed

[2017-06-23 19:54] #521 closed

[2017-06-26 14:32] lomky commented on #539
Assigned read-only access on dev to @amruelama temporarily for testing purposes.

[2017-06-26 14:35] amruelama commented on #539
I can view the watch activity/summary via admin page now with read-only access.

[2017-06-26 15:51] #535 closed

[2017-06-26 15:51] #539 closed

[2017-06-26 17:53] Zullmira commented on #539
I can view "watch activity" from the "stage" domain finally.

[2017-06-27 14:44] amruelama commented on #543
@rasherman. Could you review the three articles from above spreadsheet please? The updates will go to production this Wednesday.

[2017-06-27 17:44] amruelama opened #547 "Warn if a title is typed with extra space(s)"
As organization identifiers are automatically created from titles and according to identifier convention spaces are replaced with hyphens, while copy/pasting titles that starts with a space (accidentally), the identifiers will be prefixed with hyphens. So to follow GCIS org convention, either don't allow titles with prefixed or suffixed with space(s) or display error message to delete extra spaces

[2017-06-28 16:26] amruelama commented on #523
QA done.

[2017-06-28 16:26] #523 closed

[2017-06-28 17:22] rasherman commented on #543
Reviewed. Looks like these journals have some poorly kept online archives. I can't find any better info that what you have already got, and can't find any record of the "submitted" one to confirm whether or not it was published in the end, since the journal doesn't even have tables of contacts of their archives online.

[2017-06-28 17:26] amruelama commented on #543
Thank you! Closing this issue since all the articles (except "Climate downscaling..") have either DOI or URL.

[2017-06-28 17:26] #543 closed

[2017-06-28 17:48] rasherman commented on #545
As I mentioned when we talked recently, I agree. We may need a script to make sure that any organization listed in the publisher field is appropriately linked as a contributor so we don't lose data, but it's much better if it is stored as a relationship rather than a field in the journal metadata.

[2017-06-28 19:23] amruelama opened #548 "Add publishers to journals"
As we have decided to remove 'publisher' field from journals (#545) , we need to make sure:

All journal publishers are available in GCIS as organizations-
- [x] Add new organizations if not available
- [x] Add contributor relationship
- [x] QA the contributor relationship

[2017-06-28 19:24] amruelama commented on #545
Closing this issue and will follow up on #548

[2017-06-28 19:24] #545 closed

[2017-06-30 18:30] rasherman commented on #538
Comments on internal scoring (my opinion! happy to debate if you disagree):

Array - unless I'm misreading, it looks like the "very poor" is what should be "very good" (additional info on the header). Did it get misplaced?

Chapter - I think there's a typo, the "very good" criteria asks for number twice. Was one of those supposed to be something else?

Dataset - The "good" criteria second option s

[2017-07-03 13:20] lomky commented on #538
Array is a weird object in our system. Arrays will *always* have `identifier` and `rows_in_header` (db requirement). Then we are saying they should have `rows` - i.e. any data. - to be acceptable.

Good catch. I don't see any other field that I think would make a 'very good' rating.

Which things do you feel should be moved from here? I was unsure on them.

[code]

Going on the criteria of 'proven

[2017-07-03 23:28] rasherman commented on #538
Thanks. I can't answer all your questions immediately, but here's my answers to a few:

Dataset - move scope, access_dt, release_dt, and description attribution to very good. Rest should stay.

Journal - you're very right that title is not absolutely necessary to follow the provenance, and can be found if you have the ISSN, but as your navigating, knowing the title makes it much easier to know wha

[2017-07-06 14:23] lomky commented on #485
The first draft is complete. See the repo USGCRP/gcis-provenance-evaluation

[2017-07-06 14:23] #485 closed

[2017-07-07 13:55] lomky commented on #372
Got the servers up and running:

### GCIS-Search - Server

 - Clone the repo
 - Correct the requirements
   - add `requests==2.1.0` to the requirements.txt
 - Properly install virtualenv & activate it
   - `sudo pip install virtualenv`
   - `sudo pip install virtualenvwrapper`
   - `mkvirtualenv gcis-search`
   - `workon gcis-search`
 - Run the deps install:
   - `make deps`
 - Run the server:

[2017-07-07 13:55] lomky commented on #372
Currently getting a `404` on searching. Looks like I need to load the data. Possibly via the scripts.

[2017-07-10 17:25] amruelama opened #549 "Publisher relationship and GCIS organizations"
Elsevier uses brand names or imprints such as '[Academic Press](https://www.elsevier.com/books-and-journals/academic-press)' in it's publishing. How do we differentiate this under GCIS 'publisher'? As we don't have publisher as a resource, we may have to use this relation under organizations.
Ref - https://en.wikipedia.org/wiki/Elsevier

[2017-07-11 20:26] lomky commented on #372
After getting an updated readme from @pymonger ( :100: !), I successfully have the system running on my local linux box with ES 1.7.6.

[2017-07-17 18:22] lomky commented on #372
We are done with this as far as CSSR is concerned. Putting into the backlog behind CSSR-tasks, but should be an easy finish after that.

[2017-07-17 18:23] lomky commented on #537
We finished the rough design of the poster and created some graphics, before turning it over to Anthony for final graphic design. We should have the poster finished midweek.

[2017-07-17 18:26] lomky commented on #458
Dropping this, in favor of a rebuild GCIS v2 later on

[2017-07-17 18:26] #458 closed

[2017-07-17 18:26] lomky commented on #401
Closing as not useful as an epic

[2017-07-17 18:26] #401 closed

[2017-07-17 18:34] #402 closed

[2017-08-02 14:57] amruelama opened #550 "Fix 'remove alternate name' button"
'Remove alternate name' button doesn't seem to work. Check - https://data-stage.globalchange.gov/organization/organisation-economic-co-operation-development-publishing-oecd and try to remove the alternate name 'Les Editions de l'OCDE '

See log below:

[Wed Aug  2 14:09:21 2017] [debug] Routing to a callback
[Wed Aug  2 14:09:21 2017] [info] user: aelamparuthy@usgcrp.gov
[Wed Aug  2 14:09:21 2017]

[2017-08-02 16:24] rasherman opened #551 "Arrays not linked to datasets for Indicators"
Currently in Indicators' provenance, the image has a semantic link to the dataset, but the array does not, even though the array was directly derived from the dataset.

Both image and array should have the same "wasDerivedFrom" link to the dataset that provided the information.

[2017-08-02 16:57] amruelama opened #552 "Fix blank indicator page on stage"
Currently we can view the list of indicators only on prod and not on stage - https://data-stage.globalchange.gov/indicator. To be specific, the list shows up on stage when logged out, but shows just a blank page when logged in. This needs to be fixed for reference purposes.

[2017-08-07 20:14] amruelama commented on #551
List of indicators to be linked to dataset through image and array:

- [ ] [Indicator: Annual   Greenhouse Gas Index](https://data-stage.globalchange.gov/report/indicator-annual-greenhouse-gas-index)
- [ ] [Indicator: Annual Greenhouse Gas Index-2016](https://data-stage.globalchange.gov/report/indicator-annual-greenhouse-gas-index-2016)
- [ ] [Indicator: Arctic Glacier Mass Balance-2016](https://d

[2017-08-08 18:11] amruelama commented on #551
@rasherman I have added array-dataset relationship for all the available indicators (listed above). Could you QA the list?

[2017-08-08 19:41] amruelama commented on #548
Added 'publishers' as contributors for 841 journals using 'publisher' field as reference. For journals with blank publisher names (16), contributors were added by research.

[2017-08-08 19:41] #548 closed

[2017-08-08 19:49] amruelama opened #553 "Deprecate 'publisher' field on journal"
As we have added 'publisher' as a contributor (#548) for all the journals in GCIS, we need to remove 'publisher' field. Downloaded backup.

[2017-08-08 19:53] amruelama commented on #551
Reviewed by @rasherman

[2017-08-08 19:53] #551 closed

[2017-08-09 13:02] #537 closed

[2017-08-09 13:39] lomky commented on #553
Deprecating rather than removing, to avoid breaking tools.

GUI will no longer offer up the field.

[2017-08-09 15:16] lomky commented on #553
@amruelama this is live on data-dev for your review.

[2017-08-09 15:16] lomky commented on #547
@amruelama this is live on data-dev for your review.

[2017-08-09 15:45] amruelama commented on #549
Another example for imprint in GCIS:

[Wiley](https://data.globalchange.gov/organization/wiley) - http://www.wiley.com/WileyCDA/Section/id-302256.html

[2017-08-09 19:21] lomky commented on #552
I replicated the issue on Dev, and I believe I have fixed it. @amruelama can you confirm the indicators page now works properly on dev?

Also removed the non-functional favorite (♥) page

[2017-08-09 19:26] amruelama commented on #552
Yes, the indicator page works now on dev.

[2017-08-09 19:28] amruelama commented on #553
Looks perfect on dev!

[2017-08-09 19:31] lomky commented on #494
Looking at the list, I actually don't know which particular objects I thought were missing.

@amruelama are there any resource types you would want to see search dropdown? Otherwise I'm going to close this.

[2017-08-09 19:36] amruelama commented on #547
@lomky Looks good on dev! Basically, instead of warning, it ignores extra spaces, correct?

[2017-08-09 19:40] rasherman commented on #549
Ok, after looking into this, I think we should make the imprint its own organization, and then add a relationship to the parent publisher. Not sure whether we should add a new relationship "imprint of" or just say that imprints are "units" or "divisions" of their parent company. I lean towards the latter, but happy to hear an argument on the other side.

[2017-08-09 20:19] lomky commented on #547
@amruelama Correct!

[2017-08-09 20:23] lomky commented on #549
I lean towards "division" as the most accurate here.

[2017-08-10 12:51] lomky commented on #550
Found the bug. We're not properly escaping the `'` in `l'OCDE`. Fixing.

[2017-08-10 13:08] lomky commented on #550
@amruelama this is fixed. You can test it [on dev](https://data-dev.globalchange.gov/organization/form/update_rel/organisation-economic-co-operation-development-publishing-oecd)

[2017-08-10 14:58] lomky opened #554 "Script to Inform Authors from ORCiD based on DOIs"
- [x] Script to pull info from ORCiD
- [x] Research
- [x] Script to populate info into GCIS

Script will query the ORCiD Public API with a DOI, which returns a list of associated orcIDs

Input: `https://pub.orcid.org/v2.0/search?q=digital-object-ids%3A%252210.6084%2FM9.FIGSHARE.1115124%E2%80%99%2522`

Responds:
[code]

Script should then offer some way for us to merge this data. More brainstorming

[2017-08-10 15:15] amruelama commented on #550
Tested on dev. It works! @lomky

[2017-08-10 15:17] lomky commented on #503
Moved to wiki: https://github.com/USGCRP/gcis-internal/wiki/Conventions-In-Progress

[2017-08-10 15:17] #503 closed

[2017-08-10 15:20] lomky commented on #480
Moved to wiki: https://github.com/USGCRP/gcis-internal/wiki/Conventions-In-Progress

[2017-08-10 15:27] #331 closed

[2017-08-10 15:28] #332 closed

[2017-08-10 15:29] #330 closed

[2017-08-10 15:29] #328 closed

[2017-08-10 15:30] #327 closed

[2017-08-10 15:31] #314 closed

[2017-08-10 15:32] #311 closed

[2017-08-10 15:32] #310 closed

[2017-08-10 17:33] #494 closed

[2017-08-10 19:49] amruelama commented on #547
Can we also make sure to replace ' - ' with '-' instead of '--'

For instance,  **Public Assistance - Paris Hospitals** (title) should be  **public-assistance-paris-hospitals** (identifier) instead of **public-assistance--paris-hospitals**

[2017-08-14 13:51] rasherman commented on #549
Ok, does that work for you, Amrutha? Let's just have imprints have their own organization records and have a relationship to the parent company as "divisions of".

[2017-08-14 14:25] lomky opened #557 "Docker Improvements - Load Empty Database More Intelligently"
Followup from the initial Docker creation in PR #555, suggestion by @abuddenb:

[2017-08-14 14:30] lomky opened #558 "Better Credentialing Solution for CSSR Access to GCIS"
We need to figure out a workable credentialing system for the interactions between GCIS & CSSR.

[2017-08-14 15:47] #547 closed

[2017-08-14 15:47] #550 closed

[2017-08-14 15:47] #552 closed

[2017-08-14 20:09] amruelama commented on #549
@rasherman Sounds good to me. It makes more sense to have imprints as 'division of' the main publisher.

[2017-08-14 20:17] amruelama opened #559 "Curate 'Wiley' related publications"
The following are the three 'Wiley' related organizations in GCIS and needs to be curated with adding provenance and relationships.

1. [John Wiley & Sons](https://data-stage.globalchange.gov/organization/john-wiley-sons)
2. [Wiley-Blackwell](https://data-stage.globalchange.gov/organization/wiley-blackwell)
3. [Wiley](https://data-stage.globalchange.gov/organization/wiley)
4. [Blackwell Science Lt

[2017-08-14 20:17] #549 closed

[2017-08-17 15:18] lomky commented on #554
Whiteboard Brainstorming Summary

## First Script - Data Gatherer
### Input
  - A list of `DOI`s
### Script Process
#### `ORCiD` Interactions
  - Query ORCiD API for the `ORCiD`s associated with each`DOI`s
  - Query ORCiD API for the information associated with each `ORCiD`
    - **ASSUMPTION:** we can always get first and last name
#### `GCIS` Interactions
  - Query for a `GCIS Person` with match

[2017-08-22 15:13] lomky commented on #480
Reminder for future us: this ticket covers the technical implementation, and possibly the data entry. Convention is handled in the linked gcis-conventions issue.

[2017-08-22 15:26] lomky commented on #444
Moved over to the conventions repo.

[2017-08-22 15:26] #444 closed

[2017-08-22 15:31] lomky commented on #427
Convention discussion moved to conventions repo. This ticket left open for any potential work generated there.

[2017-08-22 21:20] Zullmira commented on #559
I sent out the research result about these organizations.

[2017-08-23 15:20] amruelama commented on #559
Changes updated on stage.

[2017-08-23 15:20] #559 closed

[2017-09-05 19:16] lomky commented on #372
System is currently running, with proper reverse proxy on data-review.

Todo before final deployment:
  - [ ] test configuration on data-dev
  - [ ] design process for updating ES data
  - [ ] update content push process to update ES data, as decided above

[2017-09-05 19:23] lomky commented on #372
Optional: The map is a little overbearing at the moment. The facet is much more useful to use than the spatial search. Consider modifying the design.

[2017-09-18 18:49] amruelama commented on #451
104 journals left to complete

[2017-09-18 18:50] lomky commented on #554
First Script is complete. It can be found at [find-authors-from-orcid](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/find-authors-from-orcid.pl).

@amruelama is currently processing all DOIs [here](https://docs.google.com/a/usgcrp.gov/spreadsheets/d/12iIz-qAriujp6VzKEX9FB8CTyKygDLLzLaeiJYpn-vg/edit?usp=sharing)

[2017-09-18 18:55] #427 closed

[2017-09-26 13:20] lomky commented on #500
All dry run processes are complete and functional for the final CSSR references.

[2017-09-26 13:20] #500 closed

[2017-09-26 13:25] lomky opened #560 "NCA4 Suitable GCIS Diagram"
We're looking to produce an explanatory diagram of GCIS for use as a Figure in the NCA4. The gola is for the figure to convey how GCIS works, without being overwhelming.

[2017-09-26 13:33] lomky commented on #560
Discussions so far focus on a few options:

  1) Modified front page image that has real connecting lines
     - upsides:
       - easy to understand
       - conveys relationships
       - already exists
    - downsides:
       - doesn't convey the true depth of connections
     ![screen shot 2017-09-26 at 9 26 41 am](https://user-images.githubusercontent.com/6129479/30862677-e06f3ae8-a29c-11e7-9

[2017-09-26 17:53] lomky commented on #517
@amruelama this is complete for all but two of the provided entries, which will need to be handled by hand:

 - `technische-universitat-munchen` : Another `technical-university-munich` already exists. Will need to be merged, I think?
 - `consejo-superior-de-investigationes-cientificas-institute-marine-sciences` : This just keeps throwing errors when I try to update via script. As it's only one ent

[2017-09-26 21:07] amruelama commented on #517
I may have another list of organizations to swap identifiers/titles. Sorry @lomky. But it can wait until next content push.

[2017-09-27 13:02] lomky commented on #517
@amruelama No issue at all. Just ping me the spreadsheet with the current identifier, the new english name, the foreign name, the foreign language, and the new english/ascii identifier.

[2017-09-27 13:03] amruelama commented on #517
@lomky Will do

[2017-09-27 13:52] amruelama commented on #517
I've fixed the above two organizations on stage manually. I am also creating the new list of organizations to swap aliases.

[2017-09-27 18:43] amruelama commented on #517
@lomky - New list of organizations to swap is currently on the same reference sheet (sheet - update_0927)

[2017-09-28 13:37] lomky commented on #517
@amruelama the `update_0927` sheet has been run. All but three went in automatically. These three look as though there are duplicate named orgs to deal wtih:

[code]

Sheet has been updated to reflect all but those three run. Many of these actually already had the alternate name set, but I updated the script to handle that case.

[2017-09-28 14:19] amruelama commented on #517
Thanks! Let me go ahead and fix those three redundancies.

[2017-09-28 15:14] amruelama commented on #517
Fixed three organizations on stage.

[2017-10-05 14:49] amruelama commented on #517
Complete and changes pushed to prod.

[2017-10-05 14:49] #517 closed

[2017-10-05 18:00] rasherman opened #561 "Update info on Arctic Glacier Mass Balance Indicator"
There's an altered image and some changed wording for the Arctic Glacier indicator. This needs to be updated with the info from the files attached to this ticket. Priority low until after CSSR release, but can always be updated on review and then it will just be eventually pushed along with CSSR content.

![arcticglaciers_8_23_17](https://user-images.githubusercontent.com/21958420/31242540-5be3e11

[2017-10-17 20:30] amruelama commented on #504
@rasherman Contributors are added on data-review instance. Could you review this before closing this ticket?
Note : Volume Editors are considered as 'Executive Editors' and Review Editors are 'Editors' in GCIS.

[2017-10-20 14:37] rasherman commented on #504
Some comments:
In the spreadsheet linked to above I don't see any listing for John Bruno, C. Taylor Armstrong, Boyin Huang, Laura Stevens, or Eugene Takle. But they're in the CSSR record as Contributing Authors. Where did those names come from?

[2017-10-20 14:42] lomky commented on #504
@rasherman my bad, that spreadsheet is far out of date. We have been using the final CSSR draft version as the author reference list. I'll email you it.

[2017-10-20 14:44] lomky commented on #558
No longer needed.

[2017-10-20 14:44] #558 closed

[2017-10-20 14:47] rasherman commented on #504
Ah, makes sense. It's actually really close to what's in the record, which made the small changes confusing.

[2017-10-20 14:51] rasherman commented on #504
Ok, with that cleared up, I only notice one thing:
The report lists Ruby Leung as "L. Ruby Leung", but her ORCID profile just says Ruby Leung. I'm guessing for our GCIS record the judgment is that she gets the name on her ORCID profile, even if it says different in the report?

[2017-10-20 14:55] amruelama commented on #504
@rasherman As we have many publications of author 'Ruby Leung' in GCIS and not just CSSR, we are using her OrcID name to avoid confusion. In case, there is an objection from author side, we can certainly change it.

[2017-10-20 14:58] rasherman commented on #504
Ok, that's what I figured. Everything looks good, approval to call this completed!

[2017-10-20 15:00] amruelama commented on #504
Thanks, Reid. Closing the ticket.

[2017-10-20 15:00] #504 closed

[2017-10-20 19:51] lomky commented on #501
All references created. About ~1550 child publications created.

[2017-10-20 19:51] lomky commented on #502
Are we done with this @amruelama  ?

[2017-10-20 19:56] amruelama commented on #502
We are done with CSSR first-level contributor population and closed the ticket #504. This ticket is meant for references' child publications' contributors, correct? @lomky

[2017-10-20 19:58] lomky commented on #502
Nope, this was the Contributors section versus the Authors. So we have done this one too!

[2017-10-20 19:58] #502 closed

[2017-10-24 14:54] amruelama opened #562 "Add countries to organizations"
- [x] Research countries for organizations
- [x] Update in this [spreadsheet](https://docs.google.com/spreadsheets/d/1W1nRCjKilhO1EeMWjrjB3BEHHogQwv63FQWk8kHzSYc/edit#gid=0)
- [x] Review
- [x] Update on stage
- [x] Review on stage before pushing to prod

[2017-10-30 14:56] rasherman opened #564 "CSSR publication/references QA"
This ticket is for collecting issues with the references and child publications for CSSR here. They'll be listed in a task list so anyone who does a fix can check it off, so we don't duplicate effort.

- [x] Confused about [this reference](https://data-stage.globalchange.gov/reference/3bae2310-7572-47e2-99a4-9e4276764934). It looks like CSSR is referencing a CSSR chapter? This doesn't seem correct

[2017-10-30 16:33] amruelama commented on #501
Non-automatic publications are created and currently under review by @rasherman ([#564)](https://github.com/USGCRP/gcis/issues/564). Closing this issue.

[2017-10-30 16:33] #501 closed

[2017-10-30 17:26] amruelama commented on #564
[Here](https://docs.google.com/spreadsheets/d/1ACYZwAZ-k42aGVJ5mdnfTs841Mv6I7oAH3RVnkUtZGs/edit#gid=0) is the list of child publications that had title mismatches with references generated by @lomky . We can resolve this issue by either keeping the chapter (article) of the report with its reference and link all other chapters to it's parent report or delete all the chapter articles and link all th

[2017-10-30 19:25] amruelama commented on #564
Child Publications referenced to their own chapters have been unlinked.

[2017-10-30 20:09] rasherman commented on #564
There were actually not that many mis-identified child publications. Most title mismatches were just difference in capitalization or other formatting. I re-assigned the ones that were to a section of a report to link to the full report, as you can see in the above spreadsheet.

I believe all references are done in GCIS, unless there are new changes.

[2017-10-30 20:09] #564 closed

[2017-11-02 17:23] lomky opened #565 "Breakout IPCC Reports by Chapter"
While we normally reserver chapter breakdown for our USGCRP reports, the IPCC reports are so often cited by chapter in our USGCRP reports that it would be helpful to have the chapters available.

We should process this based on the most cited reports first.

Chapters PDFs can be found on the IPCC site. [AR5](http://ipcc.ch/report/ar5/index.shtml)

[2017-11-02 17:38] lomky commented on #565
I believe the process here looks like:

 - Create chapters under a given report
 - Check each reference that has the given report as its child report
    - if it should point to a chapter, change the child publication to the appropriate chapter
    - if it should point to the report, leave it be

[2017-11-03 13:49] amruelama opened #566 "Add contributors for CSSR child publications"
- [x] QA [CSSR reference child publications](https://docs.google.com/spreadsheets/d/1Fl3zbIkp22YQtieMFcnCSTblY-DDwsipdXCAEKc7nfw/edit#gid=0)
- [x] Populate it with contributors. If required add new person and organizations with their info in GCIS.

[2017-11-06 15:06] R-Aniekwu commented on #566
Hey Amrutha,

I have carefully looked through issue #566 that you assigned to me on
Github and I have a faint idea of what I am supposed to do. However, I
would still require some clarification on the variables. In one of the
examples you left for me, you indicated that the publication did not
require contributors. But the publication had authors. Do authors and
contributors mean the same thing? D

[2017-11-13 19:00] lomky opened #567 "Add Images for Figures with a Single Panel"
For the CSSR, we only populated Images for Figures with multiple subpanels in the TSU system. We should go through and populate the images for single-panel figures.

[2017-11-13 19:06] lomky opened #568 "Add Datasets for CSSR Figures"
Add or connect existing Datasets to the Figures from CSSR

[2017-11-13 19:09] lomky opened #569 "Rename the CSSR Figure Identifiers"
CSSR Figures were named by the first filename of an image associated with them. This leaves some problems in the naming including wrong numbers referenced, outdated info, etc, being encoded into the identifier. Let's go through and update the identifiers to be more appropriate.

Must be done in coordination with TSU, or else the Metadata Tool & CSSR website will break.

[2017-11-13 19:14] lomky opened #570 "CSSR Likelihood & Confidence tables"
The CSSR has a likelihood table and a confidence table that displays with each finding to contextualize the statements. GCIS needs to encapsulate this data in some ways.

 - [x] Figure out how to put this data into GCIS
 - [x] Populate the data into GCIS

Options:
  1. Create two `Tables` and associate them with every CSSR `finding`
     1. Somewhat problematic, as they are not actually tables in

[2017-11-13 19:17] lomky opened #571 "Add CSSR Activities"
Create `Activities` for the CSSR Figures, Tables, etc.

[2017-11-13 19:19] lomky opened #572 "Add Metadata to CSSR Generic Publications"

[2017-11-13 19:22] lomky opened #573 "CSSR Postmortem"
Review how CSSR went. Talk about what went well, and what we wish had gone better. Figure out what we can do to improve those things before we do this again for NCA4!

[2017-11-13 19:24] lomky opened #574 "Convert Manual CSSR Metadata Looker to Dynamic"
- [ ] Populate the CSSR Figure Origination fields with the needed data
 - [ ] Coordinate metadata looker updates with @angel-li
 - [ ] Push updated CSSR content in GCIS
 - [ ] push new CSSR metadata looker

[2017-11-14 21:14] rasherman commented on #570
I believe the likelihood tables are with the Key Findings, not with the Figures. Basically same issue, but changes what they would be linked to.

[2017-11-14 21:23] lomky commented on #570
corrected. Thanks @rasherman!

[2017-11-15 14:44] lomky opened #575 "Design GCIS AWS Architecture"
- [ ] Initial Design in AWS CloudFormation
 - [ ] Review with ICF

[2017-11-15 14:45] lomky opened #576 "Create Dev Environment to Test AWS Architecture"

[2017-11-27 16:36] amruelama commented on #561
https://data.globalchange.gov/report/indicator-arctic-glacier-mass-balance-2016
Updated on stage and pushed to prod by @lomky.
Reviewed by @rasherman.

[2017-11-27 16:36] #561 closed

[2017-11-28 19:20] amruelama commented on #562
@lomky Could you update these countries on stage?

[2017-11-29 14:44] amruelama commented on #554
@lomky Can we run this script for CSSR articles' DOIs as well?

[2017-11-29 21:23] amruelama commented on #567
Added images for single panel figures on stage. @rasherman Could you review the images?

[2017-11-30 14:59] lomky opened #577 "Figure Population for the Multi-Model Framework for Quantitative Sectoral Impacts Analysis Report"
Populating the Figure data for the Multi-Model Framework for Quantitative Sectoral Impacts Analysis report in GCIS

[Working sheet](https://docs.google.com/a/usgcrp.gov/spreadsheets/d/1J-ef8GColtEVi0zWwC9DE3YWPjmC2YFz2U6XdH75peY/edit?usp=sharing)

[2017-11-30 14:59] lomky commented on #577
Data populated in stage. Ready for QA by @rasherman

[2017-11-30 16:01] amruelama commented on #565
[Working sheet](https://docs.google.com/spreadsheets/d/1p9zWPlWF8BB5dD9FLsxCHfgNydX8Gu-eSvFEmQsUHSs/edit#gid=0) - List of IPCC Reports in GCIS

[2017-11-30 16:54] amruelama commented on #554
Update: QA part of this spreadsheet is done. That is, populated 'confirm_match' column. @R-Aniekwu is working on populating the additional info needed for new contributors, or updating the existing contributors' info.
@lomky I'm not sure if you're going to make this update in single pass or split them based on the 'confirm_match' categories. But just to let you know, the rows with filter 'yes' und

[2017-11-30 18:18] lomky opened #578 "Investigate Missing Thumbnail on Good Image"
For the CSSR, chapter 4, one of the Figure's Images is failing to show it's thumbnail, at least some of the time for some people. Investigate what is happening here.

https://data-stage.globalchange.gov/report/climate-science-special-report/chapter/projections/figure/ectp

[2017-11-30 20:52] lomky commented on #577
Removed the PDF from GCIS directly.

@rasherman let me know when the report is otherwise ready to go and I'll update the identifier.

[2017-12-01 15:26] amruelama commented on #565
@rasherman For some of these reports, there are more appendices than chapters. Since we are adding IPCC chapters for reference purpose, do we still need to add front matter, appendices, annexes? Do you think, anything except chapters of these reports will have references?

[2017-12-01 18:14] amruelama opened #579 "Display chapter references cited by other publications on chapter page of the report"
Currently GCIS doesn't display the publications that cites chapters on 'chapter' page.
Ex: [Chapter 2](https://data.globalchange.gov/report/ipcc-ar5-wg1/chapter/wg1-ar5-chapter02-final) of [Climate Change 2013: The Physical Science Basis](https://data.globalchange.gov/report/ipcc-ar5-wg1) report is cited by [9 publications](https://data-stage.globalchange.gov/report/ipcc-ar5-wg1/chapter/form/updat

[2017-12-01 18:47] amruelama opened #580 "Fix chapter relationship for IPCC AR5 WG2 PartA -> PartB"
When a report has two parts, they are added as two different reports in GCIS:
Ex: [ipcc-ar5-wg2-parta](https://data.globalchange.gov/report/ipcc-ar5-wg2-parta) and [ipcc-ar5-wg2-partb](https://data.globalchange.gov/report/ipcc-ar5-wg2-partb), in which the chapters continue in partB. In this case, if we accidently add chapters to the same report, we should be able to edit the related report for the

[2017-12-01 21:28] lomky commented on #579
@amruelama Done! See data-review: https://data-review.globalchange.gov/report/nca3/chapter/our-changing-climate

[2017-12-04 15:36] amruelama commented on #579
Looks good @lomky! Thanks. What is the current sort order for references? Can we sort this by chapter number and then ordinal? Is there a way to differentiate two different indicators by year since we have the same title for indicators of different years?

[2017-12-04 15:50] lomky commented on #579
It is randomly sorted (reference a couple times and you'll see it). The sub-references sort Chapter->Figure->Finding->Table.

Looking into how hard the differentiation would be

[2017-12-04 16:01] lomky commented on #579
@amruelama it's not easy to get at the year in this location.

[2017-12-04 16:11] lomky commented on #580
This is not feasible to implement before Wednesday. If you can provide a list of the chapters, we can do a hard edit.

[2017-12-04 16:28] amruelama commented on #579
@lomky No problem. This looks fine!

[2017-12-04 16:33] amruelama commented on #580
@lomky Done!

[2017-12-04 16:35] amruelama commented on #565
@lomky is currently moving Part B chapters from [IPCC AR5 WG2 Part A](https://data-stage.globalchange.gov/report/ipcc-ar5-wg2-parta) to [IPCC AR5 WG2 Part B](https://data-stage.globalchange.gov/report/ipcc-ar5-wg2-partb). Refer to issue #580

[2017-12-04 17:31] lomky commented on #580
Done!

Process:

[code]

[2017-12-04 17:33] amruelama commented on #580
Great, thanks!

[2017-12-04 17:45] #580 closed

[2017-12-04 18:02] amruelama commented on #565
Created chapters and linked with references. Could you review this @rasherman?

[2017-12-04 19:59] rasherman commented on #567
Did the QA. No issues found, everything looks great. Thanks!

[2017-12-04 19:59] #567 closed

[2017-12-06 17:42] lomky commented on #569
[Tracker sheet](https://docs.google.com/a/usgcrp.gov/spreadsheets/d/1eQqV-ZNa45mwnstiTCCjlvjwn4Ft504pc9VYUV5x-2Y/edit?usp=sharing)

[2017-12-06 19:59] angel-li commented on #569
When you would like to start this process?

On Dec 6, 2017, 12:42 PM -0500, Kathryn Tipton <notifications@github.com>, wrote:

[2017-12-06 21:10] lomky commented on #569
We can start as soon as tomorrow. I think the first step is just coming up with the new IDs in the spreadsheet, which Amrutha is going to take the lead on, that you guys just have to sign off on. See the process tab in the spreadsheet

[2017-12-08 16:23] amruelama commented on #569
@angel-li @kjrhody I have created new IDs (Column H) for the figures. If it's okay with TSU, I'll update the new IDs on GCIS stage. Please note that there are a couple title changes(typos) as well.

[2017-12-08 17:02] kjrhody commented on #569
@amruelama We need to run this by others at TSU and also will need to ensure that the new IDs do not exist anywhere else in the GDAS database (since many figures tend to get reused). If they do, it might cause as-yet-unknown issues. For changes(typos) are you talking about changing the actual title of the figure, or just modifying the proposed ID to reflect a typo fix?

[2017-12-08 17:27] amruelama commented on #569
@kjrhody Sounds good! Let me know if there are figures that are already available in GDAS database with the new identifiers I created. I checked this with GCIS figures to make sure I am not creating any duplicates. But I am not very sure if a figure of a different report (say NCA3) with the same identifier is identified as duplicates in GCIS. @lomky Could you help me with this?

The typo fixes are

[2017-12-08 17:39] kjrhody commented on #569
@amruelama Ok cool - yeah I am most concerned about NCA4 (which is not in GCIS) since I think there are some cloned figures there. So we can check and get back to you guys.

The reason we'd need to know about the typos being in the actual titles is if we need to change the titles in GDAS it will change the metadata which Sarah will need to know about. So we'll need to know which ones were changed

[2017-12-08 17:59] amruelama commented on #569
Thanks @kjrhody. I haven't updated any titles with typos (in GCIS) yet. Please see the notes column in the above working sheet where I have mentioned the changes required. Let me know what you think.

@lomky Also, I searched for '[indicators-of-warming'](https://data-stage.globalchange.gov/search?q=indicators-of-warming&type=all&format=detailed) in GCIS and returned 3 results. These three have the

[2017-12-08 18:10] lomky commented on #569
@amruelama I ran all the identifiers in a query and only found two conflicts. They're marked in red on the sheet.

If we are super concerned with duplication of identifiers, could we just append `-cssr` to the end of the identifiers?

I think fixing the `Title`s on GCIS should not have any affect on GDAS or the report.

The query:

[code]

[2017-12-08 18:14] amruelama commented on #569
@lomky Thanks! The identifier 'co2-sources-and-sinks' got mixed-up somehow, I just fixed it. So we have only one duplicate identifier - I'll look at it now.

[2017-12-08 18:26] amruelama commented on #577
Figures are now on prod. Is this completely done @lomky

[2017-12-08 18:31] rasherman commented on #577
Yep, closing this ticket. Good work, team!

[2017-12-08 18:31] #577 closed

[2017-12-11 18:55] lomky commented on #302
Currently, this is solved via the hidden middle name field. A final fix will have to wait on a new API version. Lowering priority.

[2017-12-11 19:15] lomky commented on #350
Menu updated. Current report shows CSSR; featured reports shows CSSR, HA, & NCA3 in that order.

[2017-12-11 19:15] #350 closed

[2017-12-11 19:17] lomky commented on #294
This is done! #548 #549 #553

[2017-12-11 19:17] #294 closed

[2017-12-11 19:25] lomky commented on #511
I think this is working. @amruelama can you test the paths to see if they all work, and update the ticket?

[2017-12-11 20:20] amruelama opened #581 "Populate default organization for alternate names"
When creating alternate names for organizations under 'relationship', automatically populate the default organization when 'Create Alternate Name' button is clicked.

[2017-12-14 16:53] lomky commented on #554
Working forward on the new scripts, now informed by how the spreadsheet was created

# Second Script - Updates GCIS with New Contributors, Updated Persons, New Persons/Organizations

## Input

The modified CVS from the first script

Columns - Expected Values & Behaviors

|Column Name | Auto Generated? | Expected Values | Expected Script Behavior |
|-|-|-|-|
| match_method             | Yes

[2017-12-14 16:57] lomky commented on #554
@amruelama @R-Aniekwu The QA needs to be continued on the spreadsheet - Where column A says `Matched on ORCid` only indicates the Person in GCIS exists & has that ORCid.

They still need to be QA'd for:

  - The Person info is correct:
    + The Person name is correct
    + The Person url is correct
  - The Contributor record exists for this Person/Article/Role
    + If no contributor record, the

[2018-01-03 14:49] lomky commented on #562
@amruelama working on this today

[2018-01-03 15:42] lomky commented on #562
Done.

Script input & output attached as record.

[gcis_562.tar.gz](https://github.com/USGCRP/gcis/files/1600825/gcis_562.tar.gz)

[2018-01-03 17:10] lomky commented on #368
All list pages now respect the `per_page` parameter. Next up, code a selector into the HTML page.

[2018-01-03 17:11] lomky commented on #368
- [x] List pages allow per_page parameter
- [ ] Allow selection of per_page in the HTML
- [ ] Update tests.

[2018-01-03 19:18] lomky commented on #368
@amruelama Please review the changes on data-review.

The per_page selectors should be visible on _every_ Resource's listing page, and they should work.

---

First Load:
![screen shot 2018-01-03 at 2 14 50 pm](https://user-images.githubusercontent.com/6129479/34535691-b4b89560-f090-11e7-8551-43be67ff2dd0.png)

After hitting a button:
![screen shot 2018-01-03 at 2 15 06 pm](https://user-images.git

[2018-01-03 19:40] amruelama commented on #368
@lomky Looks good in data-review! Is 100 the maximum limit?

[2018-01-03 20:06] lomky commented on #368
@amruelama Nope. No limit is imposed. You can change the URL to have any number you want.

I chose not to have those options prominent (as buttons), as they are very slow and would be a bad user interaction. I tested up to 500.

[2018-01-04 14:53] lomky commented on #368
Putting a hold on this ticket until TravisCI is reliable again post-Meltdown.

[2018-01-04 17:31] amruelama commented on #565
The chapters are already pushed to prod. Can we close this issue @rasherman?

[2018-01-04 17:33] amruelama commented on #542
@lomky Is it possible to prioritize this ticket for next release?

[2018-01-04 17:56] amruelama commented on #511
@lomky This isn't working for me. Can you tell me if you could add the article "Monitoring and reducing exposure of infant..." under relationship>publication - https://data-stage.globalchange.gov/person/form/update_rel/8939?

[2018-01-04 18:42] lomky commented on #511
@amruelama Yes, I did? You need to have an organization, publication, and role, but then it works.

[2018-01-04 18:47] amruelama commented on #511
Oh, sorry-my fault! I've been adding it without organization. Closing this issue.

[2018-01-04 18:47] #511 closed

[2018-01-04 20:37] rasherman commented on #565
Whoops. I QA'd this and neglected to close the ticket (didn't find any errors). Thanks for doing this and for the nudge.

[2018-01-04 20:37] #565 closed

[2018-01-05 15:11] amruelama commented on #562
@lomky Thanks!
Review done. Good to go to prod!

[2018-01-05 16:30] amruelama commented on #572
Here are the two generic type CSSR references:
1. [reference : Methane hydrates and contemporary climate change](https://data-stage.globalchange.gov/reference/2c02216d-911a-4cd2-ad19-71ed167979c9) (Electronic Article)
2. [ reference : Decoupling of global emissions and economic growth confirmed](https://data-stage.globalchange.gov/reference/2d0ddf02-9d2a-4eb9-8e29-3985db93c5ca) (Press Release)

@l

[2018-01-05 18:31] amruelama commented on #570
Here are the two arrays I've created. Let me know what you think. @rasherman @lomky
1. [Confidence Level](https://data-stage.globalchange.gov/array/confidence-level)
2. [Likelihood](https://data-stage.globalchange.gov/array/likelihood)

I didn't want to create table inside the report as this is just for reference and provenance purpose. Note that I have used the relationship [prov:wasInformedBy](h

[2018-01-05 19:04] lomky commented on #570
@amruelama did we decide to go with method 3 then? I was actually leaning towards using the existing Executive Summaries figures and related it via provenance.

[2018-01-05 19:09] lomky commented on #572
@amruelama I'm a bit confused. Are we talking about the `generic` objects or the `reference` objects?

[2018-01-05 19:14] amruelama commented on #572
@lomky I wanted to copy the 'bibliographic fields' of a reference to the 'fields' of a generic (if editable).

[2018-01-08 13:48] lomky commented on #572
Understood! I can make editable `generic` `attr`s happen for the next release.

[2018-01-08 13:50] lomky opened #582 "Make `generic` `attr`s editable"
Enables #572

This should work the way `reference` `attr`s are edited.

[2018-01-08 16:13] lomky commented on #582
@amruelama how does this look?

![screen shot 2018-01-08 at 11 12 50 am](https://user-images.githubusercontent.com/6129479/34679758-ed793846-f464-11e7-9017-c7931b533bac.png)

[2018-01-08 16:20] amruelama commented on #582
Looks perfect! @lomky

[2018-01-08 16:36] lomky commented on #582
Cool! Now I'll make it actually work! :)

[2018-01-10 20:55] lomky commented on #542
This turned out to be quite simple. @amruelama can you check this on data-review?

[2018-01-12 14:41] amruelama commented on #542
It works! Thanks @lomky

[2018-01-16 17:40] lomky commented on #536
@amruelama

 - I plan on making the article identifier case insensitive.
 - I can have the system reject PMC/PMID if their numeric parts match.
 - The last pair are actually distinct IDs - differing by one number. I don't see anything to do for them?

[2018-01-16 18:03] lomky commented on #536
@amruelama here are the articles that have multiple entries:

| count |           DOI 1 | link | DOI 2 | link 2 |
|--|--|--|--|--|
|     2 | 10.1175/bams-d-13-00085.1 | https://data-stage.globalchange.gov/article/10.1175/bams-d-13-00085.1 | 10.1175/BAMS-D-13-00085.1 | https://data-stage.globalchange.gov/article/10.1175/BAMS-D-13-00085.1  |
|     2 | 10.1029/2003gl018624      | https://data-stage.g

[2018-01-16 18:04] lomky commented on #536
@amruelama I can't put the code fix in until we remove the existing duplicate entries. Delaying this until next release.

[2018-01-16 18:52] #368 closed

[2018-01-16 18:52] #542 closed

[2018-01-16 18:52] #579 closed

[2018-01-16 18:52] #581 closed

[2018-01-16 18:52] #582 closed

[2018-01-16 20:41] amruelama commented on #572
Updated the above two generic items with its fields and metadata as 'generic' type resources are now editable.

[2018-01-16 20:41] #572 closed

[2018-01-17 16:03] amruelama commented on #562
Updates are now on prod.

[2018-01-17 16:03] #562 closed

[2018-01-18 16:27] lomky commented on #554
To determine: how to handle in the script the case of a new person with multiple roles. They will be a new person the first row, and an existing person the second. Match on processed ORCids?

If new person, if ORCid already seen?

[2018-01-24 17:51] lomky opened #584 "Watch Page - Allow Selections by To/From Dates"
The watch details & watch summary pages only allow queries relative to now or the last x queries. It would be useful to be able to specify the Start & Stop dates.

[2018-01-29 15:23] amruelama commented on #566
@lomky Can you please give stage access to @R-Aniekwu? He will be adding contributors directly on stage going forward.

[2018-01-31 14:20] lomky commented on #575
![](https://github.trello.services/images/mini-trello-icon.png) [Design AWS Architecture](https://trello.com/c/lTDN70a4/24-design-aws-architecture)

[2018-01-31 14:20] lomky commented on #576
![](https://github.trello.services/images/mini-trello-icon.png) [Create a Dev Region](https://trello.com/c/NpmpqQ4Q/25-create-a-dev-region)

[2018-01-31 14:21] lomky commented on #554
![](https://github.trello.services/images/mini-trello-icon.png) [OrcID DOI Script](https://trello.com/c/h7jp8IKd/23-orcid-doi-script)

[2018-01-31 15:58] amruelama opened #585 "Tech quick fixes"
Following are few minor changes required to save time while adding data manually:

- [ ] Add 'Point of Contact' role next to the role 'Author' (sort order), so that selection of multiple roles is easier. Currently, the most common multiple roles are POC and Author. (High)
- [ ] Allow to add up to five affiliations for an author at the same time. Currently we can add only one organization to a cont

[2018-02-01 15:10] amruelama commented on #536
@lomky Do you want me to fix these manually while you update the system to handle case sensitivity?

[2018-02-01 15:53] amruelama commented on #536
All the duplicates are removed! @lomky

[2018-02-06 15:24] amruelama opened #586 "Handle special characters"
Example 1 : When an organization with special character(s) is added as an org title, the automatically generated identifier ignores the special characters.
Example 2: Person name with special character(s) is currently hard to find using the search query unless the last name or first name doesn't have special characters in it.

We should either teach the system to handle special characters or ignor

[2018-02-07 14:11] amruelama opened #587 "2018 indicators"
Indicators list:

- [x] [Frost free season](https://data.globalchange.gov/report/indicator-frost-free-season-2018)
- [x] [Heavy Precipitation](https://data.globalchange.gov/report/indicator-heavy-precipitation-2018)
- [x] [Arctic Sea Ice Extent](https://data.globalchange.gov/report/indicator-arctic-sea-ice-extent-2018)

[2018-02-07 14:13] amruelama opened #588 "Add 2018 filter on indicators page"
As we've started adding indicators for this year (#587), create '2018' filter button on indicators page - https://data.globalchange.gov/indicator

[2018-02-07 14:15] amruelama commented on #587
@rasherman Feel free to edit the above list as we receive updated indicators for this year.

[2018-02-07 14:39] lomky commented on #588
This is a good time to make this update dynamically based on the actual available publication years.

[2018-02-07 15:00] amruelama commented on #588
Sounds good!

[2018-02-07 16:19] lomky commented on #588
Done! Please review on data-review @amruelama. I created fake indicators as follows in the data-review db for testing purposes:

[code]
[code]

So now it looks like this on first navigation:
![screen shot 2018-02-07 at 11 07 49 am](https://user-images.githubusercontent.com/6129479/35926916-63a31290-0bf7-11e8-8c72-a61e9b7141ed.png)
And if you select `1999`:
![screen shot 2018-02-07 at 11 08 00 am](

[2018-02-07 17:18] amruelama commented on #588
Looks good @lomky

[2018-02-20 16:03] amruelama opened #589 "Add affiliations to author by matching keywords"

[2018-02-20 16:03] #483 closed

[2018-02-20 16:04] lomky commented on #469
De-prioritizing to focus on other improvements pre-NCA4.

[2018-02-22 13:58] lomky opened #590 "Rearrange Roles on Contributor Selection"
Move 'Point of Contact' role next to the role 'Author' (sort order), so that selection of multiple roles is easier. Currently, the most common multiple roles are POC and Author.

[2018-02-22 14:05] lomky opened #591 "Advanced Search Enhancements in Support of UUID Discovery"
- [x] Allow Reference type searches
 - [x] Reference Search by exact Attr match
 - [x] Reference Search by similar Attr match
 - [x] Document these Reference Searches on the page.
 - [x] Accept a count parameter to Search
 - [x] Fix Reference Search by Year+Author match

[2018-02-22 14:14] lomky opened #593 "Suggest Author Affiliations from Past Affiliations"
Auto populate the list of affiliations for the author from the previous affiliations history for his publications. For example, if an author is previously affiliated with 'University of Maryland Department of Geography', show this in the list of previous affiliations while adding a new contributor affiliation for the same author for a new publication.

[2018-02-22 14:16] lomky opened #594 "Enable One Author -> Multiple Orgs & Roles on Creation of Contributors"
Allow to add up to five affiliations for an author at the same time.
Currently we can add only one organization to a contributor.

This way we don't have to add the same author 'n' times for 'n' affiliations of the same article or report. Make sure there's sort key option for each affiliation added for the author.

[2018-02-22 14:16] lomky commented on #585
#590
#594
#593

[2018-02-22 14:16] #585 closed

[2018-02-23 16:25] lomky commented on #590
@amruelama Here is the current sort_order on role_type.

[code]

And here is the order by most often used:

[code]
How would you like me to update the `sort_order`?

[2018-02-23 16:32] lomky commented on #590
We just discovered this is editable by the data manager!
[Yay!](https://data-stage.globalchange.gov/role_type?per_page=50)

[2018-02-23 16:56] amruelama commented on #590
Rearranged roles by the preferred sort order.

[2018-02-23 16:56] #590 closed

[2018-02-27 16:22] lomky commented on #536
@amruelama the DOI case insensitive change is live on data-review, please confirm it works like you would like it to.

[2018-02-27 16:29] amruelama commented on #536
Tested. Looks good to me @lomky

[2018-02-27 19:46] #588 closed

[2018-02-27 19:46] #591 closed

[2018-02-27 19:46] #536 closed

[2018-03-01 15:36] lomky commented on #554
DOI has decommisioned the API we interface with on the first script, so I will need to update that....

[2018-03-02 13:30] rasherman opened #596 "Create tool to assign GCMD keywords"
The NCA team has said that it doesn't matter if we do a GUI vs. spreadsheet for assigning keywords, so let's do whichever is easier (I'm assuming that's a spreadsheet template we can import by script).

Let's make a sample ready to show and demo it to the NCA staff in ~late April.

[2018-03-05 17:43] lomky commented on #596
@rasherman which level are we going to work to? Topic?

[code]

[2018-03-08 16:21] lomky commented on #335
@amruelama Can you look over Data_review and spot check the updated GCMD keywords?

It tagged these as defunct:

[code]

[2018-03-08 16:45] lomky commented on #335
Test run against data review log can be seen here: https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/update_gcmd_keywords/log/20180308_data-review_full_update_science_keywords_8_5.out

[2018-03-12 14:59] lomky commented on #335
@amruelama here are the states a keyword can be processed as: [README](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/update_gcmd_keywords/README.md#purpose)

[2018-03-12 16:23] amruelama commented on #335
@lomky Spot checked on data-review and also compared the changes/updates with the current GCMD keywords. Looks good to me!

[2018-03-16 14:19] rasherman opened #598 "Clean up formatting of GCIS front page"
The content on data.globalchange.gov is not cleanly displayed. The text block from "Featured USGCRP reports" through "API reference" appears to be offset to the right from the rest of the content on the page.

The formatting of the page should be checked and make sure things are centered or justified properly.

[2018-03-20 12:54] lomky commented on #598
Formatting fixed for centering the Featured Reports.

Also looking into fixing the responsiveness of the front page graphic (falls to the side when resized) and bringing the color scheme in line with USGCRP NCO Standards.

[2018-03-20 12:57] lomky commented on #598
@rasherman I am considering adding a 'well' to the featured reports section for aesthetics. Which of these do you prefer?

**Plain**:
<img width="1050" alt="screen shot 2018-03-20 at 8 55 26 am" src="https://user-images.githubusercontent.com/6129479/37655755-86a9e3b4-2c1c-11e8-975e-db8b322114f6.png">

**Well**:
<img width="1102" alt="screen shot 2018-03-20 at 8 56 39 am" src="https://user-images.g

[2018-03-20 13:44] rasherman commented on #598
The well is good, put that in there. Thanks!

[2018-03-20 14:48] lomky commented on #598
SVG is solidly responsive at the moment at all sizes, it only weirds out on browser resize. Fixing it is more d3 intensive than I expected, so going to leave it be for now.

[2018-03-20 18:43] lomky commented on #598
@rasherman can you prod data-review and tell me if the issues you ID'd are solved?

[2018-03-20 20:01] rasherman commented on #598
Much better. Thanks so much!

[2018-03-22 16:36] amruelama opened #599 "[NCA4] Release: Collect metadata for & Create NCA4 authors"
This ticket is to track NCA4 authors related data collection.

- [x] Send the list of required GCIS 'Person' fields  and authors' role types to NCA team.
- [x] Match current roles with NCA authors' roles, add new role(s) if required.
- [x] NCA team collects author data pertaining to GCIS 'person' and 'organization' fields. Required fields would be authors' preferred name, ORCID, Biography URL, rol

[2018-03-27 13:58] lomky opened #600 "Book QA Tasks"
Followup from Conventions discussion: USGCRP/gcis-conventions#20

  - [x] Review Book entities to find things that would be better classified as another object.
    - Namely Reports miscategorized as Books. Others are possible.
  - [x] Migrate Book `publisher` field to a Contributor with `publisher` role
    - Similar to previous process on Journals in #548

[2018-03-29 16:26] lomky commented on #593
![wireframe](https://user-images.githubusercontent.com/6129479/38100829-75301fe0-334c-11e8-9c4b-afd2b251f55d.jpg)

[2018-03-29 17:43] lomky opened #601 "Offer CSV download for tables & arrays"
Suggested to GCIS from feedback.

[2018-04-02 13:20] lomky opened #602 "Replace End of Life Google Site Search"
GCIS general search replaced with Search.gov Bing based search. Follow on tickets to fix up our `sitemap.xml` and migrate to Search.gov's hosted site search.

[2018-04-02 13:21] lomky commented on #602
Live as of this morning. Leaving open for a couple days in case of needed tweaks.

[2018-04-02 13:43] lomky opened #603 "Migrate to Search.gov Hosted Search"
We moved to Search.gov due to GSS end of life in April 2018. For simplicity, we moved to their Bing based search but long term we should be on their ElasticSearch backed option.

Original migration: #602
Blocked by: #375

[2018-04-03 15:08] amruelama commented on #589
Discussed this with Kat. As web source html could be different for different journals webpage and may change any time, we have decided this hold on to this until I figure out a better way to accomplish this.

[2018-04-03 15:08] #589 closed

[2018-04-03 19:13] lomky opened #604 "GCMD Ingestion Script"
Given a CSV with rows containing:

GCIS URI | GCMD UUID | GCIS Type
-|-|-

Associated the GCMD with the specified GCIS URI in the GCIS.

Other columns are ignored.

GCIS URL should be an argument.

[2018-04-04 12:44] lomky opened #605 "GCMD Ingestion Template"
We will be asking the NCA team to identify proper GCMD keywords for entities inside of the NCA4.
To ensure consistency, we'd like to create a template spreadsheet to hand them to fill out.

### Outstanding Prior Questions:

  - What level of depth will we use from the GCMD keyword?
  - Which entities will we label inside of the NCA4?

### Fields:

  - The input script to GCIS will require the fiel

[2018-04-04 12:45] lomky commented on #596
This ticket has been broken into two parts, one in #604 for creating the CSV intake process, and #605 for creating a spreadsheet template the NCA staff can use. Closing this for those two work tickets.

[2018-04-04 12:45] #596 closed

[2018-04-04 13:25] lomky commented on #605
Setting this ticket aside as a good intro task for the NCA intern.

[2018-04-04 14:53] amruelama opened #606 "Clean up organization types"
[Working sheet](https://docs.google.com/spreadsheets/d/1c-tvNHdBM52WA-EgGedV36Ug24_l7DHRN7R5T4AMn7I)

[2018-04-04 19:59] lomky commented on #604
Completed. See [README](https://github.com/USGCRP/gcis-scripts/blob/master/populating_scripts/by_data/associate_resources_with_gcmd_keywords/README.md)

[2018-04-04 19:59] #604 closed

[2018-04-05 13:15] lomky opened #607 "GCIS GCMD Improvements"
In support of the push for GCMD keywords, some parts of the GCIS need updates.

[2018-04-05 13:24] lomky commented on #335
Finalized process:

  - Release the code in #607
    - Migrate the database!
  - Run the script against stage
  - Give @amruelama the list of defunct GCMD keywords in GCIS for handling any associated resources and ultimate keyword deletion

[2018-04-09 13:58] lomky commented on #602
Seems to be working nicely. Closing.

[2018-04-09 13:58] #602 closed

[2018-04-10 18:05] lomky commented on #554
@amruelama I've emailed you the sample output and post-run QA sheet. Please spotcheck the various cases and let me know if this is good to go!

[2018-04-11 13:09] amruelama commented on #554
Working on this now.

[2018-04-11 17:00] lomky opened #608 "Update the OrcID DOI Query Script for new OrcID API"
A few months after we wrote the initial script to query OrcID with our DOIs, they changed their API. Update the script to interact with the new API.

Follow on from #554
[Script in question](https://github.com/USGCRP/gcis-scripts/tree/master/populating_scripts/by_resource/contributors/discover_from_orcid_api)

Not needed until post-NCA4 release.

[2018-04-11 17:46] amruelama commented on #554
Spot checked and added notes for article that needs manual update on stage. Everything looks good! @lomky

[2018-04-12 15:55] lomky commented on #554
Updates have been applied to stage. @amruelama is reviewing the ~300 of the 2600 that required a second look.

Follow-on work:
  - new organizations alternate names
  - new organizations relationship

[2018-04-13 14:35] #573 closed

[2018-04-18 18:49] amruelama commented on #409
@lomky Not sure how relevant is this issue to this ticket, but I think this should be fixed as well. Currently GCIS redirects to a person's page when their ORCID typed in the URL is just numbers and it wouldn't work for ORCIDs with alphabets.

Example -
https://data.globalchange.gov/person/0000-0002-7786-3977  - Works fine
https://data.globalchange.gov/person/0000-0003-2628-362X  - Doesn't work.

[2018-04-18 21:52] amruelama commented on #554
- [ ] Review, QA and update missing data
- [ ] QA and resolve the list of errors
- [ ] Add new organizations' relationship. Create new org if required
- [ ] Add alternate names for new organizations.

[2018-04-18 21:54] amruelama commented on #554
@rasherman Could you review and spot check few cases from the above updates and comment on the working sheet. Once reviewed, I will push the content to prod friday morning.

[2018-04-19 21:14] lomky commented on #409
@amruelama it wasn't, but I fixed it regardless.

Also, this ticket's fix for OrcID fields actually affects _all_ form fields. Leading and trailing spaces will be trimmed away. Yay!

[2018-04-20 13:50] lomky commented on #584
@amruelama @R-Aniekwu  how does this look?

<img width="1038" alt="screen shot 2018-04-20 at 9 50 02 am" src="https://user-images.githubusercontent.com/6129479/39054664-3b69e378-4480-11e8-91a1-b436542de573.png">

[2018-04-20 13:51] lomky commented on #584
@amruelama would it be good if we replaced all of the free text date fields with these date or datetime selector types?

[2018-04-20 13:58] amruelama commented on #584
This is awesome!

What are the examples of other free text date fields?

[2018-04-20 14:12] lomky commented on #584
@amruelama anywhere we have the "created" "submitted" or "updated" on objects that expect a datetime. I don't plan on doing it immediately but I can file another ticket for that if it'd be helpful

[2018-04-20 14:25] lomky commented on #584
@amruelama you can see this live on data-review now!

Try it out in various browsers to see how it looks in each (the screenshot is firefox, but it looks different in chrome, safari, etc)

[2018-04-20 14:27] lomky opened #609 "Use Date & Datetime Form Fields for Date/Datetime Database Fields"
For the moment we use text fields for entry of dates. It would make things a lot easier if we used the html5 select types date and datetime. (Like how the watch page does).

[2018-04-20 14:28] lomky commented on #584
Filed #609 for that followup.

[2018-04-20 14:37] amruelama commented on #409
@lomky Tested. Works perfect!

[2018-04-20 14:57] amruelama commented on #584
Calendar option works in Firefox. I had to update the browser.

[2018-04-20 14:58] lomky commented on #584
It looks to me like it works:

  - Date Fields:
    - Firefox
    - Chrome
  - Datetime Fields:
    - Chrome
  - Falls back to Text (no worse than today)
    - Safari
    - IE
    - Firefox (datetime only)

[2018-04-20 16:14] amruelama commented on #554
Some URLs are missing. This may have happened due to filter. @lomky Once updated, I will push the content to prod next wednesday.

[2018-04-23 17:49] #409 closed

[2018-04-23 17:49] #584 closed

[2018-04-23 18:03] #598 closed

[2018-04-23 18:03] #607 closed

[2018-04-24 19:26] lomky commented on #335
@amruelama The update has been run on stage.

These keywords are not in the GCMD hosted lookup and are defunct. They should have any associated publications moved and then be deleted:

[code]

GCMD Keyword host also has a "Trash Can" keyword it moved some things to. Can you look over all the keywords under it, relocate any associated publications and then we can delete them and the trahs can keywo

[2018-04-24 19:34] lomky commented on #335
Here are the keywords we need to handle moving publications off of & deleting:

https://docs.google.com/spreadsheets/d/1bIbFJeBSQEF5cEUk9vkiuwy_S3D0C0pIiXyDaZK5MqM/edit?usp=sharing

[2018-04-24 20:23] amruelama opened #611 "Return all GCMD keywords in single page option"
This URL should return all 3000+ GCMD keywords available - https://data-stage.globalchange.gov/gcmd_keyword?all=1
But currently it returns only 20+. Please fix this.

[2018-04-24 21:55] lomky commented on #611
Is it sufficient to ask for a per_page large enough to get all?

warning, slow load: https://data-stage.globalchange.gov/gcmd_keyword?per_page=3000

[2018-04-25 13:31] amruelama commented on #611
This is good. Thanks @lomky

[2018-04-25 13:31] #611 closed

[2018-04-25 13:50] lomky commented on #335
I am signed up to get notifications for future GCMD updates. @amruelama are we good to close this ticket?

[2018-04-25 13:55] lomky commented on #554
URLs have been corrected! Closing~

[2018-04-25 13:55] #554 closed

[2018-04-25 13:57] lomky commented on #335
We are now up to date with GCMD 8.6

[2018-04-25 13:58] amruelama commented on #335
Yes, the updates are on prod now. Good to close.

[2018-04-25 13:58] #335 closed

[2018-04-25 17:46] amruelama opened #612 "Can't add a person without an ORCID"
There is a bug while creating a new person in GCIS that doesn't let me create person without an ORCID. This is a new case.
It accepts ORCID with a space, but creating new person isn't possible right now.

[2018-04-26 13:58] lomky commented on #601
Looks like we want this functionality to uspport the NCA4 website as well. Tagging in @kjrhody

[2018-04-27 19:12] lomky commented on #601
Arrays now offer a CSV option.

<img width="725" alt="screen shot 2018-04-27 at 3 10 52 pm" src="https://user-images.githubusercontent.com/6129479/39380626-3f4196fa-4a2d-11e8-9354-f3cc0b3bf078.png">

<img width="921" alt="screen shot 2018-04-27 at 3 11 35 pm" src="https://user-images.githubusercontent.com/6129479/39380649-4f56a580-4a2d-11e8-9ca0-8daf180f48cd.png">

@amruelama could you check this

[2018-04-27 19:15] amruelama commented on #601
@lomky Looks good to me!

[2018-04-30 14:21] lomky opened #613 "GCIS Activity Model Updates"
[Design Doc](https://docs.google.com/document/d/1Z3_3vlx_fGNmXvp26WM4oFfAYAeDwPZb8xPHbwqhYhs/edit#)
[Model Draft](https://docs.google.com/spreadsheets/d/1KuPMhMHNJKgcf6l0O4rVan9uGv88JJfWUfU1LLyNPyQ/edit?usp=sharing)

[2018-05-01 14:05] amruelama commented on #566
Completed except for ones that are low priority (129 articles). Populated both manually and by [script](https://github.com/USGCRP/gcis-scripts/tree/master/populating_scripts/by_resource/contributors/bulk-create-contributors)

[2018-05-01 14:05] #566 closed

[2018-05-02 14:40] lomky opened #615 "[NCA4] Release: Report Creation"
Initial `Report` creation can be done by hand or via the sync system. Further data should be done by hand.

  - [ ] Report data (final)
  - [ ] Contributors
  - [ ] Report pdf
  - [ ] DOI minting

TSU Partner Ticket: N/A
Related CSSR Ticket: N/A

[2018-05-02 14:40] lomky opened #616 "[NCA4] Release: Chapter Creation"
Initial `Chapter` creations will be done via the sync system. Further data should be done by hand.

### Process

  - Add Chapter data (final)
  - Add Contributors
  - Add Chapter pdf
  - DOI Minting

### Chapters

  - Overview [Executive Summary]
  - Our Changing Climate [NCA4 Vol. I summary]
  - Topic: Water
  - Topic: Energy Supply, Delivery, & Demand
  - Topic: Land Cover & Land Use Change
  -

[2018-05-02 14:40] lomky opened #617 "[NCA4] Release: Figure Creation"
As the Figures are finalized in the Resources Metadata system, sync the Figures and their Images into GCIS.

~Possible Manual Curation (depends on improvements made to the sync software):~
  - [x] ~Populate `Image`s for single-panel `Figure`s~

[TSU Partner Ticket](https://redmine.cicsnc.org/issues/4079)
Related CSSR Ticket: N/A

[2018-05-02 14:40] lomky opened #618 "[NCA4] Release: Key Finding Creation"
Key Findings should be manually entered into GCIS for each chapter.

Considerations:
  - [ ] convert textual references to `Reference` UUIDs in `confidence`, `evidence`, `process`, `uncertainties`, and `statement` fields into `tbib` tags.
    - see [CSSR Finding 1.1](https://data.globalchange.gov/report/climate-science-special-report/chapter/our-changing-climate/finding/key-finding-1-1.json) as an

[2018-05-02 14:41] lomky opened #619 "[NCA4] Release: Table Creation"
Tables and their supporting Arrays should be manually entered into GCIS

[TSU Partner Ticket](https://redmine.cicsnc.org/issues/4152)
Related CSSR Ticket: N/A

[2018-05-02 14:41] lomky opened #620 "[NCA4] Finalized Release: Figure Caption tbibs"
~Figure Captions should be manually entered into GCIS for each chapter.~
Figure Captions are created automatically with the figure now.

Considerations:
  - [ ] convert textual references to `Reference` UUIDs in `caption` field into `tbib` tags.
    - see [CSSR Figure 1.2](https://data.globalchange.gov/report/climate-science-special-report/chapter/our-changing-climate/figure/globaltemp_cssr_aug30_

[2018-05-02 14:41] lomky opened #621 "[NCA4] Test Run: Test Run References"
Run the finalized References through the automated references creation script against a throwaway copy GCIS with uptodate data. Confirm any differences were resolved in  #623. Confirm references look right with TSU. Run the automated child publication populating script and confirm functionality.

TSU Partner Ticket: N/A
Related CSSR Ticket: #500

[2018-05-02 14:41] lomky opened #622 "[NCA4] Release: References Creation"
Once the References test run #621 is complete and good, import the references from EndNote.

TSU Partner Ticket: N/A
Related CSSR Ticket: #501

[2018-05-02 14:41] lomky opened #623 "[NCA4] Prep: Diff References"
After the 4OD references are finalized, run the endnote import and meet with TSU to resolve any differences between existing GCIS references and their counter-parts in the EndNote.

TSU Partner Ticket: N/A
Related CSSR Ticket: #500

[2018-05-02 14:41] lomky opened #624 "[NCA4] Test Run: Test Run Metadata Sync"
Run the sync on several objects and QA them thoroughly. Check results with TSU as well.

Timeline: Late August? After we have finished tweaking the Sync system, but before we start syncing finalized data.

TSU Partner Ticket: N/A
Related CSSR Ticket: N/A

[2018-05-02 14:42] lomky opened #625 "[NCA4] Release: References Child Publication Creation - Auto"
Once the References have been populated  #622, generate the child publications for those references which support it.

TSU Partner Ticket: N/A
Related CSSR Ticket: #501

[2018-05-02 14:42] lomky opened #626 "[NCA4] Post Release: References Child Publication Creation - Manual"
Once the References have been populated  #622 and the automated Child Publication generated  #625, manually populate the child publications for those that remain.

TSU Partner Ticket: N/A
Related CSSR Ticket: #501

[2018-05-02 14:42] lomky opened #627 "[NCA4] Finalized Release: References and Figure/Table/Findings Linking"
Run the script to link References to their tbib tags. [Script](https://github.com/USGCRP/gcis-endnote-process/blob/master/04_connecting_references/connect_references_from_tbibs.pl)

To be done after the references have been populated  #622, the Figure captions filled in #620, and the Findings created #618.

TSU Partner Ticket: N/A
Related CSSR Ticket: N/A

[2018-05-02 14:43] lomky opened #628 "[NCA4] Release: References and Report/Chapter Linking"
Run the script to link References to their tbib tags. [Script](https://github.com/USGCRP/gcis-endnote-process/blob/master/04_connecting_references/connect_references_to_resources.pl)

To be done after the references have been populated  #622, Report created #615, and Chapters created #616.

TSU Partner Ticket: N/A
Related CSSR Ticket: N/A

[2018-05-02 14:43] lomky opened #629 "[NCA4] Post Release: Activity QA & Linking"
Note: Depending on progress we make with improving the GDAS<->GCIS sync system, these might come in automatically with the Figure sync. This ticket is in case that does not happen.

Create `Activity`s for the NCA4 `Figure`s, `Table`s, etc.

TSU Partner Ticket: N/A
Related CSSR Ticket: #571

[2018-05-02 14:43] lomky opened #630 "[NCA4] Post Release: Dataset Creation"
Note: Depending on progress we make with improving the GDAS<->GCIS sync system, these might come in automatically with the Figure sync. This ticket is in case that does not happen.

Create needed `Dataset`s for the NCA4

TSU Partner Ticket: N/A
Related CSSR Ticket: #568

[2018-05-02 14:54] #601 closed

[2018-05-02 15:03] lomky opened #631 "Improve the Syncronizing Process between Resources Metadata & GCIS"
Path forward TBD.

  - fix mis-sync
  - develop new automated mappings
  - map into new activity object (#613)
  - ?

[2018-05-02 15:18] lomky commented on #631
Initial planning meeting scheduled for 05/21

[2018-05-02 18:31] amruelama opened #632 "Update SPARQL interface examples"
Create new queries to update the [example page](https://data.globalchange.gov/examples), preferably CSSR
@rasherman If you have any ideas, list it out here. I will write new queries.

[2018-05-02 19:35] lomky commented on #615
All the dependencies flow from the Report existing:

![nca4 component dependencies](https://user-images.githubusercontent.com/6129479/39545157-537179e8-4e1e-11e8-93c0-9a82d1bbcc96.jpg)

[2018-05-03 17:55] amruelama opened #633 "Update person URLs"
- [x] Run [URL checker](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/check-urls.pl) for persons on data-stage.
- [x] Import TSV to [spreadsheet].(https://docs.google.com/spreadsheets/d/1EDVoehYF6D_cPiKwm1oqJXmppqXsd4rwewwZNmt6JR8/edit#gid=0)
- [x] Research and update URLs to direct them to the right page.

[2018-05-07 17:17] amruelama opened #634 "Update Report URLs"
- [x] Run [URL checker](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/check-urls.pl) for reports on data-stage.
- [x] Import TSV to [spreadsheet](https://docs.google.com/spreadsheets/d/1XV9_s_U2YAvQq1yTBIhqetL1LC7wiGfaaGSI4eKhGOQ/edit#gid=0)
- [x] Research and update URLs to direct them to the right page.

[2018-05-08 15:50] amruelama opened #635 "URL Checker Improvements"
Can [URL Checker](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/check-urls.pl) check DOIs or/and it's directing/re-directing URLs?

If not, can we add that feature to the current script?

The purpose of this is not to check if individual DOIs work, but to make sure the DOIs in GCIS are right (with out typos).

Improvements:
  - [x] Check DOI resolution
  - [x] Check redirect URLs f

[2018-05-08 17:08] amruelama opened #636 "Update Articles URL"
- [x] Run [URL checker](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/check-urls.pl) for persons on data-stage.
- [x] Import TSV to [spreadsheet](https://docs.google.com/spreadsheets/d/1rwFOfdGOVq4X6TwH44cqXYc1s4vYPiMCJcE6-u3UGqY/edit#gid=0)
- [x] Research and update URLs to direct them to the right page.

[2018-05-14 13:25] amruelama opened #637 "URL checker response codes and redirection"
Here are the list of changes to be done in URL checker to improve the QA process.

- [ ] Redirect URLs for some 301s gives 404 or 'page not found' response- https://data-stage.globalchange.gov/report/nycpanelonclimch-cri2013
- [ ] Check the response of URLs redirected from a DOI URL.

[2018-05-14 18:05] #636 closed

[2018-05-15 13:52] R-Aniekwu opened #638 "Formatting problems regarding Author page on data-stage"
Contributor field mismatch - the name of the author's affiliation is listed under the "role" field, and the author's role is listed under the "publication" field.

https://data-stage.globalchange.gov/person/10237.

[2018-05-15 15:18] lomky commented on #638
This is because the person has an incorrect `Contributor` connection with an `Organization` but no `Publication`. That is not a correct connection in our system. (A person is only affiliated with Organizations in our system _though_ publishing, not inherently).

Is that understanding correct, @amruelama? If so, the solution is to delete the bad `Contributor` relation.

![screenshot-2018-5-15 - gci

[2018-05-15 15:24] #638 closed, assigned to amruelama, R-Aniekwu

[2018-05-16 15:12] #634 closed

[2018-05-21 13:50] amruelama opened #639 "QA and update Journal URLs"
- [x] Run [URL checker](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/check-urls.pl) for reports on data-stage.
- [x] Import TSV to [spreadsheet](https://docs.google.com/spreadsheets/d/14KFbp7wdFqMOzzWBEo42_Q5DB3AJZ27FC7bclzR4w6g/edit#gid=0)
- [x] Research and update URLs to direct them to the right page.

[2018-05-21 17:26] #456 closed

[2018-05-21 17:27] lomky commented on #570
Would everyone be okay with discussing this at a tagup and seeing if we can make a decision?

[2018-05-21 17:28] lomky commented on #600
@R-Aniekwu Can you write here what has been done and what is the current status. Or link the ticket you did the work in?

[2018-05-21 17:30] #575 closed

[2018-05-21 17:30] lomky commented on #516
This will happen when we migrate to AWS.

[2018-05-21 17:30] #516 closed

[2018-05-21 17:31] #463 closed

[2018-05-21 17:33] lomky commented on #631
Initial meeting complete. Planning to start spin up and work on removing bad-mappings this next couple weeks.

[2018-05-21 17:35] lomky commented on #637
Work can be done under #635 Thanks!

[2018-05-21 17:35] #637 closed

[2018-05-21 17:39] lomky opened #640 "Planning: 2018 Summer Metrics Work"
We know we want to do some improvements to the GCIS Metrics. TBD

[2018-05-21 18:56] amruelama opened #641 "Add missing publishers for journals"
[Working sheet](https://docs.google.com/spreadsheets/d/16aUzOnIuncxEAD7zieaBGpxf2GK9UW4lZ3836XamK0k)

[2018-05-22 14:38] amruelama commented on #639
Good URLs - 803
No URLs/Defunct - 5
Fixed Updated - 91

[2018-05-22 14:38] #639 closed

[2018-05-23 15:32] amruelama opened #642 "QA Organizations URL"
- [x] Run [URL checker](https://github.com/USGCRP/gcis-scripts/blob/master/qa_scripts/check-urls.pl) for organizations on data-stage.
- [x] Import TSV to [spreadsheet]https://docs.google.com/spreadsheets/d/1ay929D9r0rWs6jlcmpPn7cA3GwadRHhhDvjmfa8ab7Y)
- [x] Research and update URLs to direct them to the right page.

[2018-05-24 15:54] R-Aniekwu commented on #600
I reviewed 220 GCIS resources previously classified as "books", and reclassified them as, "Book"; "Report"; or "Unsure". This issue has been moved to review.
https://docs.google.com/spreadsheets/d/105jK10qTEtxqVXBxV9_Z_63HmPw1Q_zSyxpiR--Bpmc/edit#gid=689434811

[2018-05-24 20:15] rasherman commented on #640
We need to move the GCIS metrics forward this summer on three fronts:

1. Run the existing script to score more chapters of NCA3, CSSR, and CHA to build some statistics and analyze how we've improved on reports and where the weaknesses still are.
2. Develop a scoring scheme for connection metrics (that is, is a record connected to things that enhance provenance information).
3. Determine how we sh

[2018-05-24 20:20] R-Aniekwu commented on #640
It will not be a bad idea to compartmentalize a bit, since it is somewhat
of a bulky project.

On Thu, May 24, 2018 at 4:15 PM, rasherman <notifications@github.com> wrote:

[2018-05-25 13:08] lomky commented on #640
That sounds good to me! Let's finish any other work we have to refine the tasks here (if any), then create the three new tickets and close this as a completed planning task?

[2018-05-25 13:14] rasherman commented on #640
Ok, I'll handle the refining and writing of the new tickets, so I'll un-assign you guys, and then re-assign to the new tickets when I do that later today.

[2018-05-25 18:51] rasherman opened #643 "GCIS Metrics - analyzing existing records"
The existing metadata scoring script needs to be run on many more chapters of CSSR, CHA, and NCA3. It is probably too hefty a task to do ALL chapters, but we'd like:
1. Metrics for as much of CSSR as possible.
2. Enough representative chapters of NCA3 and CHA to get a sense of whether we've significantly improved over time.

Once the scripts are done, doing pretty visualizations is straightforward

[2018-05-25 18:57] rasherman opened #644 "GCIS Metrics - Connection scoring criteria"
Following Issue #538

For each type of record, we should have a scheme similar to record metadata for scoring the provenance connections. i.e.: does a key finding cite something? Does a table have an array?

Probably the best way is for every record to categorize connections that are necessary to count as good (e.g. a chapter having references), and categorize those connections that may not be nec

[2018-05-25 19:11] rasherman opened #645 "GCIS Metrics - scores displayed on record webpages?"
We need to determine how to store and/or publish scores done by the metrics scripts for GCIS records. This ticket is a placeholder for that work as it develops in scope.

[2018-05-25 19:14] rasherman commented on #640
This ticket has been expanded into ticket #643 #644 and #645

[2018-05-25 19:14] #640 closed

[2018-05-25 20:28] lomky commented on #643
I think it's worth thinking about which chapters to look at for NCA3? Making sure we get examples from each type (i.e. regional, topic area).

[2018-05-25 20:29] lomky commented on #643
Detailed directions for getting up and running have been documented on the [Provenance Evaluation repo](https://github.com/USGCRP/gcis-provenance-evaluator)

[2018-06-06 13:45] lomky commented on #605
The script that will ingest this spreadsheet was developed in #604, see [README](https://github.com/USGCRP/gcis-scripts/tree/master/populating_scripts/by_data/associate_resources_with_gcmd_keywords)

[2018-06-06 15:15] lomky commented on #605
Might be worth exploring the CSSR and seeing which level of keywords applying makes sense. Our current thought is two levels below Earth Science.

[2018-06-06 17:15] amruelama opened #646 "CSSR Chapters Scores"
Part of [#643](https://github.com/USGCRP/gcis/issues/643).

Generate scores for CSSR chapters and store output [here](https://drive.google.com/drive/u/0/folders/12B4CKi3ns2PJ5cELzc9iQRyiCBUSfv6j). List of chapters and related fields are available in [this](https://docs.google.com/spreadsheets/d/1loJ5RDRKXx_MhsT6gOl6j7hTR1AS5vGPhrjMJE5DepI) working sheet.

Add comments if any.

[2018-06-07 13:09] amruelama opened #647 "CHA Provenance Scores"
Part of [#643](https://github.com/USGCRP/gcis/issues/643).

Generate scores for CHA report and chapters and store output [here](https://drive.google.com/drive/u/0/folders/1cjcDvhrGmuc_4ELyECZrhJp6SwYyutsn). List of chapters and related fields are available in [this](https://docs.google.com/spreadsheets/d/1x_w_XqHiBRAXR2nbdCrafXGvRsShVSnSHeL9TrwYwdg) working sheet.

Add comments if any.

[2018-06-07 13:10] amruelama opened #648 "NCA3 Provenance Scores"
Part of [#643](https://github.com/USGCRP/gcis/issues/643).

Generate scores for CSSR chapters and store output [here](https://drive.google.com/drive/u/0/folders/10dNZNL-z6yE1Y9js9Yi30sjpc2Ro1Ksu). List of chapters and related fields are available in [this](https://docs.google.com/spreadsheets/d/15bbJVC2UwHmD_Zqthtm8nKuuBn81Oo4oA9d0-utVIGM) working sheet.

Add comments if any.

[2018-06-07 17:21] amruelama commented on #643
@rasherman Running all the chapters (including front page, appendix etc.,) is not an hefty process as each chapter in CSSR took less than 10 mins to generate scores. But running an entire report on the same server is tricky due to memory issues. The first time we ran scores script for the entire report killed the process. However, as @lomky suggested, we are going to try with criteria such as 'dep

[2018-06-08 14:33] #647 closed

[2018-06-12 15:01] #648 closed

[2018-06-12 15:01] #646 closed

[2018-06-18 17:17] lomky opened #649 "Add Existing DOI Metadata into CrossRef"
We are moving our DOI management over to CrossRef from EZID.

Process:
  - [ ] Migrate the existing DOIs
    - [ ] Confirm the DOIs resolve properly via CrossRef
  - [ ] Migrate the existing DOI Metadata
    - [x] Download the EZID data as [Datacite XML format](https://schema.datacite.org/).
    - [ ] Convert into the [CrossRef XML format](https://support.crossref.org/hc/en-us/articles/214169586-M

[2018-06-18 17:35] #432 closed

[2018-06-18 17:42] lomky commented on #569
In #631 one of the improvements is adding a `gcis-identifier` field. Once that field is added and programmed in, we can come back to these, update the names in both places, and finalize this ticket.

[2018-06-19 17:05] #642 closed

[2018-06-21 14:42] amruelama commented on #606
@rasherman Could you review this?

[2018-06-21 15:11] amruelama opened #650 "[NCA4] Prerelease: Improve import script to add 'publisher' as contributor for GCIS journals"
As we have decided to add 'publisher' as 'contributor' for GCIS journals (#548), improve the import script to transfer data under 'publisher' field to 'contributors' and match the already available organizations. This process may need a QA check for matching with the data we have already.

[2018-06-22 12:46] lomky opened #651 "Fix Placeholder Quoting Deprecation"
Recently GCIS began propagating up a deprecation notice:

Find and fix this.

[2018-06-26 15:02] R-Aniekwu opened #652 "Springer Publisher QA"
Update current, and/or, create new Springer subsidiaries and affiliations in GCIS.
https://docs.google.com/spreadsheets/d/1AXm6Uu3PtrKx0_msZO0f_Ezg_Jux9H30MXAWvKJvjss/edit#gid=0

[2018-07-03 12:48] lomky commented on #649
So my suggestion for approaching this project would be:

 - decide on your language for the script (python? 2 or 3?)
 - find Python modules for Datacite & CrossRef (these modules' compatibility may affect your python 2 vs 3 version choice)
 - write out a skeleton script for reading in, translating, and uploading the changes
 - flesh out the reading in section using the Datacite module to convert t

[2018-07-03 18:07] lomky commented on #576
Dev is done!

[2018-07-03 18:07] #576 closed

[2018-07-03 18:23] amruelama opened #653 "QA FFRDCs in GCIS"
- [x] Create a list of FFRDCs in GCIS
- [x] Compare the list with the available FFRDCs in the U.S. - https://www.nsf.gov/statistics/ffrdclist/
- [x] Update and edit the organization types in GCIS of these organizations accordingly.
- [x] Push the updates to prod

Process:
Downloaded the entire list of FFRDCs originally in GCIS and compared it to the U.S. Master list of FFRDCs. "Organization type"

[2018-07-05 13:32] #633 closed

[2018-07-05 20:45] JimBiardCics opened #654 "Allow authorized user to add a file directly with a provided UUID identifier"
Please make a change to allow an authorized user to add a file to the GCIS File table via a PUT on a path like /file/_UUID_/_filename_. Allow an audit_note to be associated with the put if you like. (That last is a mere desirement.)

[2018-07-11 16:51] R-Aniekwu commented on #653
Process:
Downloaded the entire list of FFRDCs originally in GCIS and compared it to the U.S. Master list of FFRDCs. "Organization type" for U.S. and foreign organizations in the GCIS FFRDC list was updated accordingly.
https://docs.google.com/spreadsheets/d/11EsysBYh4CIkJ3JvlP28P3FNPpgcNtOgW9B0tvZqgSc/edit#gid=1577373072

[2018-07-11 16:55] #653 closed

[2018-07-11 16:57] R-Aniekwu commented on #652
Process:
Created a list of all Springer-owned organizations in GCIS and updated their names, URLs, and affiliation to the newly created "Springer Nature".

[2018-07-11 16:58] #652 closed

[2018-07-11 17:08] R-Aniekwu commented on #641
Created publisher roles for journals without publishers. Created new publishers (new organizations) for journals already in GCIS in the case that these publishers did not exist prior - including affiliations with other organizations where needed.
https://docs.google.com/spreadsheets/d/16aUzOnIuncxEAD7zieaBGpxf2GK9UW4lZ3836XamK0k/edit#gid=0

[2018-07-11 17:09] #641 closed

[2018-07-17 20:40] rewolfe opened #656 "Application header not accepted/used"
(see title)

[2018-07-25 14:42] lomky commented on #605
@vjoleary could you please link the finished template here and we'll close this out as complete! 👍

[2018-07-26 18:40] vjoleary commented on #605
The template is found in Google Drive and linked here https://drive.google.com/file/d/0Bzme6qGkaz54SzZXM0hJV2VHRlRobjdWSkNpdFpYQ2lUNDQw/view?usp=sharing

[2018-07-26 19:55] #605 closed

[2018-07-27 16:33] amruelama commented on #571
- [ ] Get data from 'Resources' and create a working sheet.
- [ ] Map metadata fields
- [ ] Add and relate activities on stage.
- [ ] Push to prod

[2018-07-31 14:33] amruelama commented on #587
@lomky Could you review 'Arctic Sea Ice Extent 2018' on stage please?

[2018-07-31 14:34] amruelama commented on #587
Indicators tracking sheet - https://docs.google.com/spreadsheets/d/1FOzQckt0nIV-9OpKvvtrs4yp1oLdyhOzFmh08sN5cjM

[2018-07-31 15:06] lomky commented on #587
Looks good to me! 🎉

[2018-08-06 14:17] amruelama commented on #571
[Working sheet](https://docs.google.com/spreadsheets/d/1iKCsK8GOSFEaK6j8McITiD9iOWnkLC58gw8aLUnkgnQ/edit#gid=1556185414)
Currently, there are 78 activities for 29 figures in CSSR.

[2018-08-10 14:38] amruelama opened #658 "Display automatically generated id for 'activity'"
Display the automatically generated identifier by default before creating an activity, in order to edit and update the identifier according to activity convention. The current process is to create an activity first and then edit/update the identifier to match the convention.

[2018-08-10 17:45] lomky commented on #658
To get a UUID before submitting the activity you can query https://data.globalchange.gov/uuid?count=50 with the count set to whatever number you need. I'd rather not set the fill with UUID as the default since that is our last preference for the name of an activity

[2018-08-10 17:52] #658 closed

[2018-08-10 19:09] lomky commented on #553
Change done on stage @amruelama.

[2018-08-10 19:09] #553 closed

[2018-08-10 19:11] lomky commented on #654
We ended up solving this problem by having the File upload return the GCIS-generated UUID instead.

[2018-08-16 15:27] #612 closed

[2018-08-16 15:31] #651 closed

[2018-08-16 15:31] #613 closed

[2018-08-16 15:31] #654 closed

[2018-08-20 18:15] lomky commented on #629
This looks like it will now consist of two steps:

  1. For Created & Autolinked activities
     - QA
  1. For Created orphan activities:
    - Find / Create source publication based on Activity Note
    - Connect activity to source publication
    - Clear Activity Note

[2018-08-20 18:34] lomky commented on #620
Might be obsolete if captions are stored in GDAS

[2018-08-23 18:44] rasherman opened #660 "[NCA4] Prerelease: Tagging RCPs and regions in NCA4 figures/messages"
We need to collect further information about the figures, tables, and key messages in NCA4. This needs to include:

Observed vs. Projected data
RCP 4.5 and/or 8.5
Regions applicable

- Reid will create the template
- Kat will make script to ingest data into GCIS
- On GCIS Conventions ticket #34 (https://github.com/USGCRP/gcis-conventions/issues/34), Amrutha will determine the right provenance conn

[2018-08-29 15:10] lomky commented on #534
the URL is bad from from /region page as well

[2018-08-29 15:47] lomky commented on #570
We're going to go with path 4, and use `prov:wasDerivedFrom` to connect the Findings to the Figures.

[2018-08-29 20:32] rasherman commented on #660
- Template is done: https://docs.google.com/spreadsheets/d/1CHWydrCYiFeq23MN26uRyJs_A2wdca32i9QwmOlafBI/edit?usp=sharing
- Provenance convention is determined, Scenarios will be connected to objects by "wasDerivedFrom" semantic link.
- Regions need to be created (NCA4 regions plus Continental US and All US)
- Script to ingest tags needs to be written.

[2018-09-10 13:59] amruelama commented on #470
[NCA regions comparison worksheet](https://docs.google.com/spreadsheets/d/1w5IaRvmCBCZ4MBt8qR5L30PXMGZl8zr6xJbiE2NcogM/edit#gid=579718652)

[2018-09-10 14:13] #470 closed

[2018-09-10 15:42] lomky opened #661 "[NCA4] Finalized Release: Connect NCA4 Objects to Regions"

[2018-09-10 15:43] lomky opened #662 "[NCA4] Finalized Release: Connect NCA4 Objects to Scenarios"

[2018-09-10 15:44] #631 closed

[2018-09-13 17:32] amruelama commented on #587
- [ ] 1. [Annual Greenhouse Gas Index](https://data.globalchange.gov/report/indicator-annual-greenhouse-gas-index-2018)
- [ ] 2. [Sea Surface Temperature ](https://data.globalchange.gov/report/indicator-sea-surface-temperature-2018)
- [ ] 3. [Global Surface Temperatures](https://data.globalchange.gov/report/indicator-global-surface-temperature-2018)
- [ ] 4. [Atmospheric Carbon Dioxide](https://da

[2018-09-13 17:33] amruelama commented on #587
Done and pushed to production

[2018-09-13 17:33] #587 closed

[2018-09-13 18:44] rasherman commented on #466
- Update the text of the intro material
- Remove Identifiers section
- Change Provenance & Semantics to External Resources and add links. This should include PROV, ORCID, our code language statements, and our exported data formats.
- Update the data model definitions to match Amrutha's work
- Move the development information onto Github and just list current team with hyperlinks to staff page
- (O

[2018-09-17 16:49] lomky commented on #466
External resources:

w3c prov
PROV-O
CiTO
DOI
UUID
ORCID
ISBN
ISSN
Data.gov
Perl
Mojolicious
CPAN
PostgreSQL

I'll keeping adding ones I think of. Feel free to chime in ones I've forgotten.

[2018-09-17 16:59] amruelama commented on #466
Can we also add hyperlink URLs for these external resources? Although we use the service of ISBN, we do not redirect the ISSNs and ISBNs to isbn.org. Can we mention that we link our ISBNs to worldcat.org?

[2018-09-17 17:16] lomky commented on #466
My WIP can be seen on my devbox: https://data-ktipton.globalchange.gov/about

[2018-09-18 14:19] lomky commented on #466
I think the [about page live on my devbox]( https://data-ktipton.globalchange.gov/about) above now reflects our final state (less the optional figure). Thoughts, @rasherman @amruelama @bakamine @R-Aniekwu?

[2018-09-18 14:26] rasherman commented on #466
Otherwise looks good!

[2018-09-18 14:51] lomky commented on #649
Due to time limitations, we are just doing this manually rather than scripting it.

[2018-09-18 14:53] amruelama commented on #649
[Working sheet](https://docs.google.com/spreadsheets/d/1fPhzmwV0du3OSFzS2eBxaN2tEto6QXBqh8uQG_f-uoA/edit#gid=203965672)

[2018-09-18 14:53] #624 closed

[2018-09-18 15:12] lomky commented on #623
[Working Sheet](https://docs.google.com/spreadsheets/d/1DQyblAfz0eLDy--VkLbWYtDuScU1kJN2YHpvp73qE0c/edit?pli=1#gid=1337081332)

Moving forward, work is divvied up accoridng to column M

TSU:
  - Update EndNote
  - Mismatch UUID
  - Update Both

Amrutha:
  - Update GCIS
  - Update Both

Kat:
  - Script Issue
  - Update GCIS via Script

[2018-09-18 16:11] lomky commented on #466
@rasherman I think we should link "The National Climate Assessment and Development Advisory Committee (NCADAC) " to some sort of external definition, but I can't find one. [USGCRP has a page](https://www.globalchange.gov/what-we-do/assessment/ncadac), but all its links to more detail at NOAA 404. Thoughts?

[2018-09-19 15:53] lomky opened #664 "Frontpage Improvements"
- [x] Remove Model, Platform, Instrument from the Globe Display
 - [x] Add Indicators to the Globe
   - [x] count of the Current Indicators
   - [x] link to the current indicators
 - [x] Add Tables, Key Findings to the Globe
    - [x] these should go to list pages that list reports with non-zero numbers of those entities.
    - [x] update the Figure link to do this same list
 - [x] Add "Latest USG

[2018-09-20 15:00] amruelama commented on #649
Re-registration done.

[2018-09-20 15:00] #649 closed

[2018-09-24 14:00] amruelama opened #665 "PMCID field in reference should redirect to NCBI PubMed page"
Prefix : https://www.ncbi.nlm.nih.gov/pubmed/

[2018-09-24 14:28] lomky commented on #665
That URL prefix works for PMIDs, but it looks like PMCIDs need the prefix `http://www.ncbi.nlm.nih.gov/pmc/articles/` instead. Done.

[2018-09-24 14:32] lomky commented on #656
Completed.

[2018-09-24 14:32] #656 closed

[2018-09-24 17:49] amruelama commented on #623
Updates done in GCIS!

[2018-09-25 12:57] lomky commented on #623
TSU reports their differences are also done!

[2018-09-25 12:57] #623 closed

[2018-09-25 13:00] lomky commented on #650
Given the complexities of Organization matching and our preference against false-positives, the script will instead output the Journal Publisher name in the QA sheet to be confirmed & it's URI added during that process.

We can then run a follow up script that will connect the Journal & Org via a Publisher Contributor.

[2018-09-26 13:58] amruelama commented on #570
It looks like the finding page doesn't display the provenance relationship, but I can see the relationship displayed on figure page - https://data-stage.globalchange.gov/report/climate-science-special-report/chapter/front-matter/figure/confidence---likelihood. Should we change the display for findings in this case?

[2018-09-26 14:06] lomky commented on #570
Yup. Please add a ticket for it!

On Wed, Sep 26, 2018 at 9:59 AM Amrutha Elamparuthy <
notifications@github.com> wrote:

--
Kathryn Tipton
Software Engineer - GCIS <http://data.globalchange.gov>
U.S. Global Change Research Program
National Coordination Office
Contractor

1800 G Street NW, Suite 9100
Washington, DC 20006
Office: 1.202.419.3490
Email: ktipton@usgcrp.gov

[2018-10-02 18:46] lomky opened #666 "Region Model Improvements"
## New Fields:
`spatial_extent`
a geoJSON object

`url`
Used in the case of USGCRP regions to point to the longform region coverage on globalchange.gov
Could be used for other created regions for other reports, if they have an equivalent page.

## Provenance

`region`
region that replaces another in a future report (i.e. NCA3 Great Plains was replaced by NCA4 Northern & Southern Great Plains) usin

[2018-10-02 18:46] lomky commented on #666
Originally discussed in USGCRP/gcis-conventions#35

[2018-10-02 18:51] lomky opened #667 "New Semantic Terms: dct:Replaces"
Add the semantic verbs `dct:replaces` and `dct:isReplacedBy`

[2018-10-02 18:51] lomky commented on #667
Originally discussed in USGCRP/gcis-conventions#16

[2018-10-04 14:25] lomky opened #668 "[NCA4 PreRelease] Support New tbib format in Figure/Table/Finding Captions"
New format:`{{< tbib 'NUM' 'UUID' >}}` (space before tbib is optional)

[2018-10-04 15:54] amruelama commented on #599
- [NCA4 authors database](https://docs.google.com/spreadsheets/d/1vcZ7eHGJ20qMYpUI7jZf2UP8PSWkFAzKStkM0QIVXis/edit#gid=954401212) (WIP)

- [Individual chapter citation](https://docs.google.com/spreadsheets/d/1rFFRezSYr1G8YKsxnf0IlSKt9F8j8yWzlf4ea8OGFIU/edit#gid=0) (WIP)

[2018-10-05 12:55] lomky commented on #668
@amruelama done, but it doesn't quite look the same.

Because reports (which indicators are underneath) have such a lot of references, we can't set it up to list them all out at the bottom. But we can make the tbib inside the larger body of text be a clickable link.

<img width="1109" alt="screen shot 2018-10-04 at 1 45 49 pm" src="https://user-images.githubusercontent.com/6129479/46536385-5443598

[2018-10-05 15:59] amruelama opened #669 "References for manually created publications in GCIS"
Currently references are either synced or added by script. In very rare cases, we might be adding reference by hand. Should we think about the cases where we create these reference types (child publications) manually and adding their references while doing so? The best example would be indicators. Do we need references for indicators assuming that they might be referenced in future reports? Anothe

[2018-10-09 15:30] lomky commented on #666
Eventual Convention base:

## Use Case

To be attached to the USGCRP Assessments in support of search and navigation.
Can be added for other publications that specify regions.

Regions should be able to be sub-sets and supersets.

We may also include regions not explicitly called out by reports, such as 'US', "Contiguous US".

## Fields

`identifier`
A simplified version of the label with dashes.

[2018-10-17 12:18] #560 closed

[2018-10-17 12:19] #621 closed

[2018-10-17 12:19] #622 closed

[2018-10-17 12:19] #628 closed

[2018-10-17 12:20] lomky commented on #615
Report exists!

[2018-10-17 12:20] lomky commented on #616
All the chapters exist!
https://docs.google.com/spreadsheets/d/1-zHQdD-ZWUJeupdE0l-XQ8uwdwi9ljlwIM2HO6pnf_0/edit#gid=0

[2018-10-18 13:37] lomky opened #670 "[NCA4 Release] New Regions"
## New Regions

 - `Southeast`
   - Consists of Alabama, Arkansas, Florida, Georgia, Kentucky, Louisiana, Mississippi, North Carolina, South Carolina, Tennessee, and Virginia
 - `U.S. Caribbean`
   - Consists of Puerto Rico and the U.S. Virgin Islands
 - `Northern Great Plains`
   - Consists of Montana, Nebraska, North Dakota, South Dakota, and Wyoming
 - `Southern Great Plains`
   - Consists of K

[2018-10-19 17:46] rasherman commented on #660
Yep, closing this ticket. Thanks!

[2018-10-19 17:46] #660 closed

[2018-10-22 14:11] amruelama commented on #670
1. [Southeast](https://data-stage.globalchange.gov/region/southeast)
2. [U.S. Caribbean](https://data-stage.globalchange.gov/region/us-caribbean)
3. [Northern Great Plains](https://data-stage.globalchange.gov/region/northern-great-plains)
4. [Southern Great Plains](https://data-stage.globalchange.gov/region/southern-great-plains)

[2018-10-22 14:35] amruelama opened #671 "List of regions listed under a report linked to only one region on stage"
*This bug is just on stage. Prod works fine.*

Click "10 regions" under [nca1](https://data-stage.globalchange.gov/report/nca1) report page and it redirects to northeast-us instead of all available regions. This needs to be QAed and fixed for all reports.

@lomky I wonder why stage is different from prod. Is this a recent implementation?

[2018-10-22 14:43] amruelama commented on #670
Added 10 NCA4 regions here - https://data-stage.globalchange.gov/report/nca4. Needs review and a bug fix #671

[2018-10-22 17:09] lomky commented on #671
Great catch! I'll investigate as soon as I'm back on my feet.

[2018-10-25 18:30] R-Aniekwu commented on #629
Link: https://docs.google.com/spreadsheets/d/195xb8I7nRXdtNu8kmxHaPBbQcHiC9p2iL47x96Hj98Q/edit#gid=0

[2018-10-25 18:34] R-Aniekwu commented on #629
Only 10 auto-linked activities (with images).

[2018-10-29 17:44] adthrasher opened #672 "[NCA4 Release] Generate thumbnails for synced figures"
Image thumbnails are not automatically generated on file upload. They are only generated on file creation if a remote file is used. Otherwise, they are generated when the thumbnail is used in the template. For the NCA4 website purposes, image thumbnails are not generated during an API call. Angel is currently expecting the thumbnail to exist for display in the metadata viewer, but for non-viewed f

[2018-11-01 18:12] lomky commented on #625
Reopening for a second run for fixed references & new ones.

[Doc](https://docs.google.com/spreadsheets/d/1N4ADhK8cf9MSTrcmVMe2b2V5i1ZbNvPSs5UqeuppY8s/edit#gid=0)

[2018-11-01 19:42] lomky commented on #670
Looks good!

[2018-11-01 19:43] #670 closed

[2018-11-06 20:40] #599 closed

[2018-11-06 21:13] amruelama commented on #616
- [ ] DOI Minting
- [ ] Report and Chapter contributors (In progress)

[2018-11-06 21:16] amruelama commented on #616
@rasherman or @lomky Can you QA report and chapter contributors when you get a chance?

[2018-11-07 14:33] lomky commented on #616
DOI QA'd with one URL question.

I QA'd chapter 1's contributors. Feel free to tag me in the sheet as chapters are completed!

[2018-11-07 14:37] lomky commented on #661
This is now automated. Connecting objects as they are added.

[2018-11-07 14:44] lomky commented on #662
In progress

[2018-11-08 17:10] amruelama opened #674 "NCA4 reference duplicates"
1.  Example for reference duplicates inside NCA4:

- https://data-stage.globalchange.gov/reference/1b7a06b8-7d34-467f-86c8-3755fe9306c0
- https://data-stage.globalchange.gov/reference/69abdae0-2720-4e16-abff-cc32fffb6a7f
- https://data-stage.globalchange.gov/reference/7515ce94-387e-4bb0-931b-1963d37daef6
I believe all the above references have been created via script.

2. Example for reference dup

[2018-11-08 18:28] amruelama commented on #674
Another example:

- https://data-stage.globalchange.gov/reference/06c813a1-566a-453a-84f3-eb1837f1d87a
- https://data-stage.globalchange.gov/reference/c343ebfa-929a-4ae6-b4ca-7e3a067e374a

[2018-11-14 16:21] lomky opened #675 "[NCA4] Release: Scenario Page Should Display Publications"
Any given Scenario page should link it's provenance connections.

I.e.: https://data-stage.globalchange.gov/scenario/rcp_4_5

[2018-11-15 20:43] amruelama commented on #674
CIRA report duplicate:

- https://data-stage.globalchange.gov/reference/f0640d95-a845-40e6-a442-88eeff3127dc
- https://data-stage.globalchange.gov/reference/bd3dbfa7-8dc4-4442-9cf2-14f583dc4a36

[2018-11-23 14:37] #435 closed

[2018-11-23 14:37] #534 closed

[2018-11-23 14:37] #665 closed

[2018-11-23 14:37] #668 closed

[2018-11-23 14:37] #671 closed

[2018-11-23 14:37] #672 closed

[2018-11-27 13:43] #664 closed

[2018-11-27 13:43] #650 closed

[2018-11-27 13:43] #466 closed

[2018-11-27 13:43] #667 closed

[2018-11-27 13:45] lomky commented on #669
I would want to seek TSU's input in creating the reference, to maximize our ability to match what will appear in future reports. Definitely would want some sort of unique identifier (DOI, PMCID, ISBN, etc).

[2018-11-27 13:47] lomky commented on #629
We realized some of this work is best to do after Figures are final-sync'd from TSU. Otherwise we end up working with Image UUIDs that are replaced.

[2018-11-27 13:49] lomky opened #676 "[NCA4] Finalized Release: PDFs"
Add PDFs to the report and chapters.

[2018-11-27 13:49] lomky commented on #615
Marking as done. PDFs TK in #676

[2018-11-27 13:49] #615 closed

[2018-11-27 13:52] #675 closed

[2018-11-27 13:55] lomky commented on #616
Marking complete. PDF will be handled in #676

[2018-11-27 13:55] #616 closed

[2018-11-27 14:00] #617 closed

[2018-11-27 14:01] #618 closed

[2018-11-27 14:11] lomky opened #677 "[NCA4] Finalized Release: Final QA"
[Final QA Doc](https://docs.google.com/spreadsheets/d/1-zHQdD-ZWUJeupdE0l-XQ8uwdwi9ljlwIM2HO6pnf_0/edit?pli=1#gid=98625739)

[2018-11-27 14:17] lomky opened #678 "[NCA4] Finalized Release: Reference Updates"
Work through the [reference updates from TSU](https://docs.google.com/document/d/1pI7gahmZVxntGJCxOwIT28tUfuH0PgkRdn8Hmi6dS6I/edit?ts=5bd75410#)

[2018-11-27 15:11] #620 closed

[2018-11-27 15:34] lomky opened #679 "[NCA4] Post Release: Object Display of Keywords, Scenarios & Regions"
Make Figure/Finding/Tables display their Keywords, Scenarios, and Regions by default.

  - [x] Figures
    - [x] Regions
    - [x] Keywords
  - [x] Findings
    - [x] Regions
    - [x] Keywords
  - [x] Tables
    - [x] Regions
    - [x] Keywords
  - [x] Reports
    - [x] Regions
    - [x] Keywords
  - [x] Chapters
    - [x] Regions
    - [x] Keywords

[2018-11-27 20:00] amruelama commented on #674
- https://data-stage.globalchange.gov/reference/9b433446-b58f-4358-9737-5a6ccc2f6fcf
- https://data-stage.globalchange.gov/reference/3d77ce69-9b67-4caf-b075-ba31840518b3

[2018-11-27 21:04] #627 closed

[2018-11-27 21:05] #661 closed

[2018-11-27 21:05] #662 closed

[2018-11-29 21:05] #678 closed

[2018-12-10 15:08] amruelama opened #680 "Display 'provenance' relationship for GCIS findings"
Currently findings to figure provenance is displayed only on 'figures' page. Displaying the provenance of figures like '[confidence/likelihood table](https://data.globalchange.gov/report/climate-science-special-report/chapter/front-matter/figure/confidence---likelihood)' on [findings page](https://data.globalchange.gov/report/climate-science-special-report/chapter/our-changing-climate/finding/key-

[2018-12-11 17:17] amruelama opened #681 "500 error on 'nca4-tribal_lands_northerngreatplains_v2-process' activity"
Internal server error to access activity page - [nca4-tribal_lands_northerngreatplains_v2-process](https://data.globalchange.gov/activity/nca4-tribal_lands_northerngreatplains_v2-process)

[2018-12-11 18:17] lomky commented on #681
It had a bad value stored in the `spatial_extent` field. I removed it and now it works. Next content push will fix prod.

[2018-12-11 18:17] #681 closed

[2018-12-12 16:59] lomky commented on #679
New Figure Layout:

![screen shot 2018-12-12 at 11 58 31 am](https://user-images.githubusercontent.com/6129479/49885477-5211f400-fe05-11e8-9d57-6043420fffaf.png)

New Finding Layout:

![screen shot 2018-12-12 at 11 56 55 am](https://user-images.githubusercontent.com/6129479/49885484-5807d500-fe05-11e8-909a-3b16a835fab7.png)

[2018-12-12 21:20] amruelama opened #683 "Fix 'All' filter option on indicators page"
'All' filter button doesn't seem to be working on both stage and prod. It should redirect to https://data.globalchange.gov/indicator?all=1

[2018-12-13 17:41] lomky commented on #683
Confirmed it does work, just a confusing mismatch between a query to show all one page vs many pages

[2018-12-13 17:41] #683 closed

[2018-12-14 14:15] lomky commented on #679
New Report Layout:

![screen shot 2018-12-14 at 9 08 25 am](https://user-images.githubusercontent.com/6129479/50007985-bc02d880-ff80-11e8-9dd5-e5073a6fdc33.png)

New Chapter Layout:

![screen shot 2018-12-14 at 9 11 02 am](https://user-images.githubusercontent.com/6129479/50007990-c329e680-ff80-11e8-9b55-eadd28e5cadb.png)

New Table Layout:

![screen shot 2018-12-14 at 9 12 15 am](https://user-ima

[2018-12-14 14:16] lomky commented on #679
@amruelama and @rasherman are there other objects you think should front regions & keywords?

[2018-12-19 15:28] amruelama opened #684 "Add 'delete' option to generic"
Currently generic type resources cannot be deleted/removed on stage. Can we add a delete button?

[2019-01-16 15:51] lomky opened #685 "Update the Generic Child Publication Creation Script"
Modernize the script that creates generics from references

[2019-01-23 15:22] amruelama opened #686 "Add 'type' filter button for reports"
Create filter for [report ](https://data.globalchange.gov/repor)'types' in GCIS

[2019-01-23 16:18] amruelama commented on #686
We should also consider adding type filter for '[generic](https://data.globalchange.gov/generic?all=1)'.

[2019-01-24 20:33] amruelama opened #687 "Remove report types 'assessment' and 'conference_paper'"
There are currently 40 'assessment' type reports and 1 'conference_paper' stored in GCIS.

- [x] Change type 'assessment' to type 'report'
- [x] Convert type 'conference_paper' to generic
- [x] Remove type 'assessment and 'conference_paper'

[2019-01-25 16:38] amruelama commented on #687
@lomky Thank you!

[2019-01-25 16:38] #687 closed

[2019-01-28 17:05] lomky commented on #686
Because Generics don't have a garuntee'd type, I'm going to split that off as another ticket and ship the report filter.

[2019-01-28 17:05] lomky opened #688 "Add 'type' filter button for Generics"
Split off from #686

Add a filter to the Generic listing page, similar to Reports.

[2019-01-29 13:37] #680 closed

[2019-01-29 13:37] #684 closed

[2019-01-29 13:55] #679 closed

[2019-01-29 13:55] #686 closed

[2019-01-29 18:25] amruelama opened #689 "Generic type improvements"
- [ ] Finding generic duplicates
- [x] Create URL hyperlink
- [x] Display contributors
- [ ] ~Adding multiple fields while creating new generic~

[2019-01-31 17:13] amruelama opened #690 "Have Report Automatically Add URL as a Remote File"
Improve report creation script to automatically add a remote file if a URL is given or updated, which will create thumbnails in report front page.

[2019-02-11 18:29] amruelama commented on #626
[Working sheet](https://docs.google.com/spreadsheets/d/1N4ADhK8cf9MSTrcmVMe2b2V5i1ZbNvPSs5UqeuppY8s)

[2019-02-12 17:29] amruelama commented on #626
All the references of NCA4 (5608) should now have child publications

[2019-02-12 17:29] #626 closed

[2019-02-13 19:05] amruelama opened #692 "Support multiple formats of PDF file retrieval from external URL"
Currently our supported suffixes are : image/jpeg, text/plain, image/png, image/jpeg, application/pdf, text/csv, image/gif.

Not sure if we need an extension to support remote file retrieval, but we have a number sites with PDF files with no .pdf extension.

Examples -

- https://cfpub.epa.gov/si/si_public_file_download.cfm?p_download_id=537327&Lab=OAP
- https://irma.nps.gov/DataStore/DownloadFile

[2019-02-21 14:59] amruelama commented on #632
[Ideas from NCO staff](https://docs.google.com/document/d/1mx3fzkqHKSzS5B4-02FESNcD7jba3tzAJY5_2A7OiaQ)

[2019-02-28 15:12] amruelama commented on #571
Completed and pushed to data-prod

[2019-02-28 15:12] #571 closed

[2019-02-28 15:13] amruelama commented on #629
Completed and pushed to data-prod. See sheet 'Consolidated activities'

[2019-02-28 15:13] #629 closed

[2019-03-04 18:54] amruelama opened #693 "Create 'delete' button for references and delete orphan references and related child pubs"
References are currently not deletable on stage. Enable reference deletion.

This should follow up with deleting orphaned references and related child pubs from [this](https://docs.google.com/spreadsheets/d/1audpTdVg-LgzNgedbwT6LFiuth7PvP4Ej-BHRmw36pU) list.

[2019-03-06 19:37] amruelama opened #694 "Unable to create table from chapter table page"
Table can be created  via "report/table/form/create" but not from "report/chapter/2/table/form/create"

ERROR: insert or update on table "table" violates foreign key constraint "table_chapter_identifier_fkey" DETAIL: Key (chapter_identifier, report_identifier)=(2, second-state-carbon-cycle-report-soccr2-sustained-assessment-report) is not present in table "chapter". at /home/gcisops/perl5/perlbrew

[2019-03-07 19:26] lomky commented on #694
@amruelama that's because `/chapter/2` is a shortcut to the real chapter, `/chapter/the-north-american-carbon-budget`. You need to go to the real address to create subobjects.

[2019-03-07 19:29] #694 closed

[2019-03-07 20:10] adthrasher opened #695 "Origination API for figures returns 404 for figures outside of chapters"
The Indicators figures don't seem to have working origination API functions. An example is https://data-stage.globalchange.gov/report/indicator-annual-greenhouse-gas-index-2018/figure/indicator-annual-greenhouse-gas-index-2018/original.json. I get a 404 trying to POST or GET figure origination data. It looks like it is specific to figures that aren't under a chapter. I don't see a clear reason why

[2019-03-18 18:18] #393 closed

[2019-03-18 21:21] rasherman opened #697 "Content quick fixes"
We received an e-mail with some possible errors on GCIS resources. See attached table.

[gcis_resource_updates.pdf](https://github.com/USGCRP/gcis/files/2980454/gcis_resource_updates.pdf)

[2019-03-19 12:48] lomky commented on #697
We probably need to alert folks before changing the CSSR figure, as its published on the web report. It might need to be put into an errata?

[2019-03-19 14:23] R-Aniekwu commented on #697
The thumbnail for the NAS book could not be retrieved remotely. I had to download the book and upload it to the GCIS, and when I did so, the thumbnail was different from the one on the NAS website.
<img width="930" alt="GCIS_697" src="https://user-images.githubusercontent.com/32877335/54613386-fde46480-4a30-11e9-9383-597a0713d09b.PNG">

[2019-03-19 14:24] R-Aniekwu commented on #697
...I have deleted the file.

[2019-03-19 14:27] amruelama commented on #697
We should not download and re-upload a file from an external source. Alternatively, we can retrieve a file from remote location using their URL that directs to the location of the PDF file.

[2019-03-19 14:31] R-Aniekwu commented on #697
Understood. I tried that, but it did not work both issues concerned with thumbnails.
<img width="916" alt="gcis_679_2" src="https://user-images.githubusercontent.com/32877335/54614086-35074580-4a32-11e9-9d07-0edc3f398710.PNG">

[2019-03-19 14:32] amruelama commented on #697
Here is the thumbnail link for book [Climate Intervention: Reflecting Sunlight to Cool Earth](https://data.globalchange.gov/book/6d3eb0d6-568a-40d3-9b10-393f943038da) - https://www.nap.edu/cover/18805/450.jpg

[2019-03-19 14:38] R-Aniekwu commented on #697
All the corrections have been made.

[2019-03-20 18:28] amruelama commented on #570
Linked CSSR findings to 'Front matter'[ figure](https://data.globalchange.gov/report/climate-science-special-report/chapter/front-matter/figure/confidence---likelihood).

[2019-03-20 18:28] #570 closed

[2019-03-21 17:03] lomky commented on #689
Going to *not* implement multiple fields on new generic for now. It's a relatively large lift. Our use case for Generics creates them exclusively for References as child publication, which has an [automated script](https://github.com/USGCRP/gcis-scripts/tree/master/populating_scripts/by_resource/generics/create_generic_from_reference).

If we ever need to create a large group of Generics outside o

[2019-03-22 14:28] lomky commented on #685
This is done. [Link to script](https://github.com/USGCRP/gcis-scripts/tree/master/populating_scripts/by_resource/generics/create_generic_from_reference)

[2019-03-22 14:28] #685 closed

[2019-03-25 16:11] amruelama commented on #312
Working on cleaning up organization types - #606

[2019-03-25 16:11] #312 closed

[2019-03-25 16:20] amruelama commented on #586
@lomky Can you look into this?

[2019-03-25 17:26] lomky commented on #690
@amruelama is it important that this is for the automated process, or would it be good to have for any report created? I'm thinking the process looks like:

 1. create a Report that has a URL
 1. automatically add the remote file

[2019-03-26 15:42] amruelama commented on #693
Deleted orphan references and the respective orphaned child publications (which do not have other references linked). Also deleted individual related contributors such as person and organization, and their associated publication maps.

[2019-03-26 16:42] amruelama commented on #690
@lomky I was thinking we can automatically create thumbnails from the URL that has .pdf, .jpg/.jpeg. .gif extensions.

[2019-03-27 15:22] amruelama commented on #600
Needs QA for CSSR, NCA4 and SOCCR2

[2019-04-02 14:32] R-Aniekwu opened #698 "Extensive GCIS Activity QA"
Research, review and hopefully, relate orphaned activities to other GCIS publications. https://docs.google.com/spreadsheets/d/152hIwMC1BX3obF1g2oQLMaUWEYFRTn8_fVmTbA_vA0U/edit#gid=0

[2019-04-02 14:43] R-Aniekwu commented on #698
A total of 1324 GCIS activities have been downloaded onto a google sheet (https://docs.google.com/spreadsheets/d/152hIwMC1BX3obF1g2oQLMaUWEYFRTn8_fVmTbA_vA0U/edit#gid=0). This task is on-going.

Observed issues:
- Many orphaned activities are duplicates - for almost every "related" nca3 activity, there are about 2 duplicates.

- The history of some nca3 activities, particularly the duplicates, can

[2019-04-03 14:13] lomky opened #699 "Deduplicating Generic Publications"
- [x] Update the generic publication scripts to find and avoid creating duplicate pubs
  - [x] Process existing generic publications to find duplicates (scripted or otherwise)
  - [x] work with the data manager to remove dups

Originally in #689

[2019-04-04 17:11] lomky commented on #586
@amruelama Can you link me a couple examples for these two cases?

[2019-04-04 17:28] amruelama commented on #586
Case 1 : https://data.globalchange.gov/organization/universite-de-montral
Case 2 : https://data.globalchange.gov/person/15690

[2019-04-04 18:46] lomky commented on #586
For Case 1: Organization Identifiers:

I think this is the right way to go, long term, with regards to identifiers, but we should probably make the change to all title-based identifiers rather than just organization. We should discuss the affected objects and any implications on automated scripts, and then move forward with it.

[2019-04-04 18:56] lomky commented on #586
For Case 2: Person Accent Insensitive Search

This is possible, but we would need to extend our PostgreSQL database with a module and then propogate that through search & autocomplete functionality in GCIS. https://stackoverflow.com/questions/11005036/does-postgresql-support-accent-insensitive-collations

[2019-04-05 15:08] #695 closed

[2019-04-05 15:08] #693 closed

[2019-04-05 15:08] #689 closed

[2019-04-24 18:59] amruelama commented on #697
Changes pushed to prod.

[2019-04-24 18:59] #697 closed

[2019-04-24 19:10] amruelama commented on #698
Priority order:

- [ ] NCA4
- [ ] CSSR
- [ ] NCA3
- [ ] SOCCR2
- [ ] Indicators
- [ ] State Summaries 2019
- [ ] State Summaries 2017
- [ ] Other

[2019-04-25 19:15] amruelama opened #700 "2019 indicators"
[Worksheet
]( https://docs.google.com/spreadsheets/d/1FOzQckt0nIV-9OpKvvtrs4yp1oLdyhOzFmh08sN5cjM/)
Current (2019):
- [x] [Global Surface Temperatures](https://data-stage.globalchange.gov/report/indicator-global-surface-temperature-2019)
- [x] [Sea Surface Temperatures](https://data-stage.globalchange.gov/report/indicator-sea-surface-temperature-2019)
- [x] [U.S. Surface Temperatures](https://data

[2019-04-25 19:22] amruelama opened #701 "SOCCR2 content QA"
[Sync Worksheet](https://docs.google.com/spreadsheets/d/1fxVGxuoJESJlBkm3Pi9sQLPvIJMarGjfhX1NIbL_9Fw)

[2019-04-25 19:23] #701 closed

[2019-05-07 14:59] R-Aniekwu opened #702 "Linking Activities to Figures"
I tried associating a 'Figure' with yet another 'Activity', but was unable to.

Case: Linking NCA3's Figure 2.28 (https://data-stage.globalchange.gov/report/nca3/chapter/our-changing-climate/figure/decline-in-arctic-sea-ice-extent) with this activity (https://data-stage.globalchange.gov/activity/nca3-decline-in-arctic-sea-ice-extent-activity-2).

This is not because this type of relationship is no

[2019-05-31 20:36] amruelama commented on #698
- Good - 885
- Created publication and linked - 6
- Linked with publication - 183
- Missing publication - 1 (Haven't created new because we still have to sync more activities)
- Delete duplicates - 240
- Merge and delete - 9

Also created 204 new activities

[2019-05-31 20:36] #698 closed

[2019-06-05 20:22] rasherman commented on #606
Current plan:

We will stay up to date on progress of CrossRef and ROR on classifying and registering organizations. If they develop a schema or lexicon for organization types that GCIS should copy, then we can adopt and reference external metadata.

In the meantime, we will reduce our organization types to six for future tagging:
-Government
-Academic/Research
-Intergovernmental
-Commercial
-Non-

[2019-06-13 20:45] R-Aniekwu opened #703 "Indicator Contributors - POCs."
Use this spreadsheet (https://docs.google.com/spreadsheets/d/1090Mf4UNfQ4AXAQJI-QkhA8WU8ryr5eMd5hwJNnRjHw/edit#gid=0) to create POCs for Indicators in GCIS.

[2019-06-13 21:11] R-Aniekwu commented on #703
The following have been updated:

1) Atmospheric Carbon Dioxide
2) Frost-Free Season
3) Start of Spring
4) Global Surface Temperatures
5) Sea Surface Temperatures
6) U.S. Surface Temperatures
7) U.S. Heat Waves

[2019-06-19 20:12] #703 closed

[2019-07-26 17:51] R-Aniekwu commented on #600
Reviewed all 409 Books in GCIS, adding contributors (Authors, Editors, and Publishers) to more than 300 of them, as well as revising ISBNs and adding URLs when possible.
https://docs.google.com/spreadsheets/d/105jK10qTEtxqVXBxV9_Z_63HmPw1Q_zSyxpiR--Bpmc/edit#gid=850866345.

[2019-07-26 17:51] #600 closed

[2019-07-30 15:28] amruelama commented on #568
Completed as a part of #571

[2019-07-30 15:28] #568 closed

[2019-07-31 17:26] R-Aniekwu commented on #497
Possible steps for sorting duplicates:

Step 1: Distinguish between manually created datasets, and those imported from "data.gov" - sort them out.

Step 2: Review manually created datasets - sort them by identifier.

Step 3: Focus on similarities between identifiers; contributors; (and were feasible, URLs).

[2019-08-12 16:11] amruelama opened #704 "Enhance lexicons"
Fix issues with lexicons and update db as required.

Lexicon page - https://data.globalchange.gov/lexicon
[Working sheet
](https://docs.google.com/spreadsheets/d/1YqVYeyxGKmLHVQjCusfJMC8mquZunH_XwbF9KHQe0Vg/edit#gid=1408603768
)
Related issues:
#291, #337, #460

Things to do:

- [x] URL check current lexicons
- [x] URL check individual items under each lexicons
- [x] Deprecate or update lexicons i

[2019-08-22 15:40] #383 closed

[2019-08-22 19:28] R-Aniekwu opened #705 "GCIS Data-set URL QA"
Ran the URL checker script on my dev box:

I attempted to run the script multiple times but soon discovered that the script did not run as planned. As a result, I updated all "CPAN" modules in my devbox; re-installed both Perl versions (v5.20.0 and v5.20.3), and updated my repository (repos). Still, the script would not run.

It was soon discovered that I did not have access to GCIS-stage. So, I e

[2019-08-22 19:39] R-Aniekwu commented on #497
A spreadsheet containing all GCIS data-sets, and a document detailing important notes, were created and uploaded to the GCIS google Team drive.

The link to the document is here: https://docs.google.com/document/d/1P5zzpg917_NGI6fXbVY0DNrQ-nm2bj--sHEXx_bYF4A/edit

The link to the spreadsheet is here: https://docs.google.com/spreadsheets/d/1JWUGE1ZtZFuwIg9fBBDcK1Bjh7brkVSZQ9OY164LuLE/edit?pli=1#gid

[2019-10-03 14:26] amruelama opened #706 "References for OCP"
- [ ] Create or link references for OCP 2017 and 2019
- [ ] Create child publications for new references

[2019-10-22 16:27] amruelama opened #707 "Fix spatial coordinates for NCA4 images"
- [ ] Update spatial coordinates (lat min, lat max, lon min, lon max) for the images that lost bounding box due during the latest errata sync ([17 images](https://docs.google.com/spreadsheets/d/1pNHJhoIs2cPJoQv6lwstHpEFamFHn1fSCmZlpXHoSUQ/edit#gid=0))
- [ ] Update spatial coordinates to match GCIS format ([28 images](https://docs.google.com/spreadsheets/d/1r1hIoPBARqi3CE--p8dTi-kKVUYBP4CXMzQJ-lIKh

[2019-10-30 16:43] amruelama opened #709 "Add missing NCA4 figure contributors"
[Worksheet](https://docs.google.com/spreadsheets/d/1ozyG4lq8ZS4dteoJiiw5tFpPOuEHWQYhvtf9s4887XU/edit#gid=0)